@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Company.CompanyInformation>

@{
    ViewBag.Title = "CIPC Company Search";
}



<div class="col-md-10 col-sm-10">

    <div class="con2">
        @if (TempData["msg"] != null)
        {

        <div>@TempData["msg"].ToString()  </div>
            <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>

        }

        else
        {
            <div class="left_col">
                <div class="results">
                    <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                    <p>2 Results</p>
                </div>
                <p class="num">@TempData["ComName"]</p>
                <p class="num2">CIPC Company Search</p>

                <div class="multi act">
                    Multiple Results
                </div>
                <div class="multi non">
                    Detailed Information
                </div>

                <div class="seaInfo">
                    Search Information
                </div>

                <div class="userInfo">
                    <p class="">User:<span>@TempData["user"]</span></p>
                    <p class="">Date:<span>@TempData["date"]</span></p>
                    <p class="">Reference:<span>@TempData["ref"]</span></p>
                    <p class="">Request:<span> @TempData["ResponseMessage"]</span></p>

                </div>

            </div>

            <div class="right_col">
                <div class="seaRes">
                    Search Results
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Company ID</th>
                            <th style="">Registration number</th>
                            <th>Company Name</th>
                            <th>Translated Name</th>
                            <th>Registration Date</th>
                            <th>Status Code</th>
                            <th class="last">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyID)
                                </td>
                                <td>

                                    @Html.DisplayFor(modelItem => item.CompanyRegistrationNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyTranslatedName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CompanyStatusCode)
                                </td>
                                <td class="last">
                                    @Html.DisplayFor(modelItem => item.CompanyStatus)
                                </td>
                                <td>

                                    @Html.ActionLink("View more", "CIPCCompanyDetails", "Home", new { comID = item.CompanyID }, new { @id = "view", @class = "seaMore" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        }

    </div>






</div>

<script>
        $("#view").click(function () {

            $('#load').addClass('loader'); // to animate when successfull
        });

    function Search() {
        $('#load').addClass('loader'); // to animate when successfull

        var comName = document.getElementById("comName").value;
        var CIPCSearch = document.getElementById("CIPCSearch").value;
        var Reg = document.getElementById("Reg").value;



        if (comName === "" && CIPCSearch === "") {
            var alertMessage = '<div class="alert alert-danger" role="alert">'
                + 'Please fill in details to search!</div>';

            $(".resturn-message").html(alertMessage)
        }

        else if (comName === "") {
            var alertMessage = '<div class="alert alert-danger" role="alert">'
                + 'Please fill in Company Name to search!</div>';

            $(".resturn-message").html(alertMessage);


        }


        else if (CIPCSearch === "") {
            var alertMessage = '<div class="alert alert-danger" role="alert">'
                + 'Please fill in CIPC Search to search!</div>';

            $(".resturn-message").html(alertMessage);


        }

        else  {




        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("GetCompanyResults", "Home")',
                data: {
                    companyName: $('#comName').val(),

                },
                dataType: "text",
                error: function (result) {
                    alert(data);





                },
                success: function (result) {

                    var alertMessage = '<div class="alert alert-success" role="alert">'
                        + 'Searching.../div>';

                    $(".resturn-message").html(alertMessage)

                    //alert(result.user_type);





                }
            });
    }
                        }

</script>

