@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Individual.PersonInformation>

@{
    ViewBag.Title = "CSI Personal Records Results";
}

<div class="col-md-10 col-sm-10">
    <div class="sea act">SEARCH RESULTS</div>
    <div class="con2">
        @if (TempData["msg"] != null)
        {
            <div>@TempData["msg"] </div>
            <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>}
        else
        {
            <div class="left_col">
                <div class="results">
                    <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                    <p>@TempData["ResponseCount"]</p>
                </div>
                <p class="num">@TempData["Fullname"]</p>
                <p class="num2">CSI Person Records</p>

                <div class="multi act">
                    Multiple Results
                </div>
                <div class="multi non">
                    Detailed Information
                </div>

                <div class="seaInfo">
                    Search Information
                </div>

                <div class="userInfo">
                    <p class="">User:<span>@TempData["user"]</span></p>
                    <p class="">Date:<span>@TempData["date"]</span></p>
                    <p class="">Reference:<span>@TempData["ref"]</span></p>
                    <p class="">Request:<span>@TempData["ResponseMessage"]</span></p>
                </div>
            </div>

            <div class="right_col">
                <div class="seaRes">
                    Search Results
                </div>
                <table class="table table-striped"style="table-layout:fixed; width: 100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>ID Number</th>
                            <th>Age</th>
                            <th>Date Of Birth</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@TempData["FirstName"]</td>
                            <td>@TempData["Surname"]</td>
                            <td>@TempData["IDNumber"]</td>
                            <td> @TempData["Age"]</td>
                            <td>@TempData["DateOfBirth"]</td>
                            <td>
                                @Html.ActionLink("View more", "CSIPersonalRecordsDetails", "Individual", new { indiID = @TempData["IDNumber"] }, new { @id = "view", @class = "seaMore" })
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>