@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Individual.DeedsInformation>

@{
    ViewBag.Title = "DeedsOfficeRecordsIndividual";
}

<div class="col-md-10 col-sm-10">
    <div class="col-12">
        <input type="button" value="Export PDF" onclick='Export("DeedsOfficeRecordsIndividualResults.pdf","companyName", "RegistrationNumber")' class="button btn-b2" />
    </div>
    <div id="content">
        <div class="con2">
            @if (TempData["msg"] != null)
            {
                <div>@TempData["msg"].ToString() </div>
                <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
            }
            else
            {
                <div class="left_col">
                    <div class="results">
                        <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                        <p>2 Results</p>
                    </div>
                    <p class="num">@ViewData["ComName"]</p>
                    <p class="num2">Deeds Office Records Individual </p>

                    <div class="multi act">
                        Multiple Results
                    </div>
                    <div class="multi non">
                        Detailed Information
                    </div>

                    <div class="seaInfo">
                        Search Information
                    </div>

                    <div class="userInfo">
                        <p class="">User:<span>@ViewData["user"]</span></p>
                        <p class="">Date:<span>@ViewData["date"]</span></p>
                        <p class="">Reference:<span>@ViewData["ref"]</span></p>
                        <p class="">Request:<span> @ViewData["ResponseMessage"]</span></p>
                    </div>
                </div>
                <div class="right_col">
                    <div id="notification" class="seaRes">
                        NCR NOTIFICATION <span id="plusNot" class="coll"><i class="fas fa-plus"></i></span><span id="minusNot" class="coll"><i class="fas fa-minus"></i></span>
                    </div>
                    <div class="not">
                        Please note that the search results will automatically be deleted with in 72hours as per NCR regulations.
                        We recommend downloading/exporting a PDF or EXCEL copy of this search and storing it locally.<br>
                        <!--                                Click on In the top <p class="expt"></p> in the top left corner to download/export this search.-->
                    </div>
                    <div id="notification" class="seaRes">
                        DEEDS OFFICE RECORDS INDIVIDUAL RESULTS<span id="plusPerInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusPerInfo" class="coll"><i class="fas fa-minus"></i></span>
                    </div>

                    @if (@ViewBag.Resp != null)
                    {
                        <div class="PerInfo">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th id="PIU" style="border: none; cursor:pointer;font-weight:bold;" colspan="2">SEARCH INFORMATION</th>
                                    </tr>
                                </thead>
                                <tbody id="PITU" style="display:none;">
                                    <tr>
                                        <td colspan="2">Search UserName</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].SearchUserName
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>

                                    <tr>
                                        <td colspan="2">Report Date</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].ReportDate
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Search Token</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].SearchToken
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Search Description</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].SearchDescription
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Caller Module</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].CallerModule
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Search ID</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].SearchID
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>

                                    <tr>
                                        <td colspan="2">Data Supplier</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].DataSupplier
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>
                                    <tr>
                                        <td colspan="2">Search Type</td>
                                        <td style="border: none;" colspan="4">
                                            @ViewBag.Resp[0].SearchInformation[0].SearchType
                                        </td>
                                        <td><a class="seaMore" href="#">Search more</a></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        foreach (var item in @ViewBag.Resp[0].PersonInformation)
                        {

                            <div class="PerInfo">
                                <table class="table table-striped" onclick="dropD(this.id)" id=@item.PersonID>
                                    <thead>
                                        <tr style="border: none;">
                                            <th colspan="3" style="border: none; cursor:pointer;">
                                                @item.Description
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody style="display:none;">
                                        <tr>
                                            <td colspan="2">
                                                PersonID
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.PersonID
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                PersonType
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.PersonType
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Person Type Code
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.PersonTypeCode
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Sequestration
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.Sequestration
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                DateOfBirth
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.DateOfBirth
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                FirstName
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.FirstName
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Surname
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.Surname
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Fullname
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.Fullname
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Description
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.Description
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                IDNumber
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.IDNumber
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                MaritalStatus
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.MaritalStatus
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                Gender
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.Gender
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                       
                                        <tr>
                                            <td colspan="2">
                                                Age
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.Age
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                DeedsOfficeID
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.DeedsOfficeID
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                DeedsOfficeName
                                            </td>
                                            <td style="border: none;" colspan="4">
                                                @item.DeedsOfficeName
                                            </td>
                                            <td><a class="seaMore" href="#">Search more</a></td>

                                        </tr>
                                        <tr>
                                            <td colspan="3" style="border: none;align-self:center;">
                                                @Html.ActionLink("View more", "DeedsOfficeRecordsIndividualDetail", "Individual", new { PersonID = ViewData["PersonID"], DeedsOffice = ViewData["DeedsOffice"], SearchDescription = ViewData["SearchDescription"], Sequestration = ViewData["Sequestration"] }, new { @id = "view", @class = "seaMoreDeedsOffice" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        }
                    }
                    else
                    {
                        <div>
                            <p>No Data</p>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>


<script>

    $("#PI").click(function () {
        $("#PIT").toggle();
    });

    function dropD(id) {
        var table = document.getElementById(id);
       @* table.childNodes[3].style.display = "block";*@

        switch (table.childNodes[3].style.display) {
            case "none":
                table.childNodes[3].style.display = ""
                break;
            case "":
                table.childNodes[3].style.display = "none"
                break;
            default:
        }


      @*  if (table.childNodes[3].style.display = "none") {
            table.childNodes[3].style.display = ""
        }

        else if (table.childNodes[3].style.display = "") {
            table.childNodes[3].style.display = "none"
        }
        table.childNodes[3].style.display = "";

        table.childNodes[3].style.display*@

        @*if (table.childNodes[3].style.display = "none") {
            table.childNodes[3].style.display = "";

        }
        else {
            table.childNodes[3].style.display = "none"
        }*@

    }


    //CompScan
    $("#PI").click(function () {
        $("#PIT").toggle();
    });
    $("#HAI").click(function () {
        $("#HAIT").toggle();
    });
    $("#CI").click(function () {
        $("#CIT").toggle();
    });

    $("#HI").click(function () {
        $("#HIT").toggle();
    });

    $("#add").click(function () {
        $("#addT").toggle();
    });

    $("#tel").click(function () {
        $("#telT").toggle();
    });
    $("#CONI").click(function () {
        $("#CONIT").toggle();
    })

    $("#em").click(function () {
        $("#emT").toggle();
    });

    //TransUnion
    $("#PIU").click(function () {
        $("#PITU").toggle();
    });
    $("#HAIU").click(function () {
        $("#HAITU").toggle();
    });
    $("#CIU").click(function () {
        $("#CITU").toggle();
    });

    $("#HIU").click(function () {
        $("#HITU").toggle();
    });

    $("#addU").click(function () {
        $("#addTU").toggle();
    });

    $("#telU").click(function () {
        $("#telTU").toggle();
    });

    $("#emU").click(function () {
        $("#emTU").toggle();
    });

    //XDS
    $("#PIX").click(function () {
        $("#PITX").toggle();
    });
    $("#HAIX").click(function () {
        $("#HAITX").toggle();
    });
    $("#CIX").click(function () {
        $("#CITX").toggle();
    });

    $("#HIX").click(function () {
        $("#HITX").toggle();
    });

    $("#addX").click(function () {
        $("#addTX").toggle();
    });

    $("#telX").click(function () {
        $("#telTX").toggle();
    });

    $("#emX").click(function () {
        $("#emTX").toggle();
    });

    //VeriCred
    $("#PIV").click(function () {
        $("#PITV").toggle();
    });
    $("#HAIV").click(function () {
        $("#HAITV").toggle();
    });
    $("#CIV").click(function () {
        $("#CITV").toggle();
    });

    $("#HIV").click(function () {
        $("#HITV").toggle();
    });

    $("#addV").click(function () {
        $("#addTV").toggle();
    });

    $("#telV").click(function () {
        $("#telTV").toggle();
    });

    $("#emV").click(function () {
        $("#emTV").toggle();
    });

    $(document).ready(function () {
        $(".not").hide();
        $("#minusNot").hide();

        $('#plusNot').on('click', function () {
            $(".not").show();
            $("#minusNot").show();
            $("#plusNot").hide();

        });

        $('#minusNot').on('click', function () {
            $("#minusNot").hide();
            $("#plusNot").show();
            $(".not").hide();

        });

        $("#minusSeaInfo").hide();
        $(".SeaInfo").hide();

        $('#plusSeaInfo').on('click', function () {
            $(".SeaInfo").show();
            $("#minusSeaInfo").show();
            $("#plusSeaInfo").hide();

        });

        $('#minusSeaInfo').on('click', function () {
            $("#minusSeaInfo").hide();
            $("#plusSeaInfo").show();
            $(".SeaInfo").hide();
        });

        $("#minusPerInfo").hide();
        $(".PerInfo").hide();

        $('#plusPerInfo').on('click', function () {
            $(".PerInfo").show();
            $("#minusPerInfo").show();
            $("#plusPerInfo").hide();

        });

        $('#minusPerInfo').on('click', function () {
            $("#minusPerInfo").hide();
            $("#plusPerInfo").show();
            $(".PerInfo").hide();
        });

        $("#minusHomeInfo").hide();
        $(".HomeInfo").hide();

        $('#plusHomeInfo').on('click', function () {
            $(".HomeInfo").show();
            $("#minusHomeInfo").show();
            $("#plusHomeInfo").hide();

        });

        $('#minusHomeInfo').on('click', function () {
            $("#minusHomeInfo").hide();
            $("#plusHomeInfo").show();
            $(".HomeInfo").hide();
        });

        $("#minusTeleHis").hide();
        $(".TeleHis").hide();

        $('#plusTeleHis').on('click', function () {
            $(".TeleHis").show();
            $("#minusTeleHis").show();
            $("#plusTeleHis").hide();

        });

        $('#minusTeleHis').on('click', function () {
            $("#minusTeleHis").hide();
            $("#plusTeleHis").show();
            $(".TeleHis").hide();
        });

        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });

    });
</script>

<script>
        $("#view").click(function () {

            $('#load').addClass('loader'); // to animate when successfull
        });

    function Search() {
        $('#load').addClass('loader'); // to animate when successfull

        var comName = document.getElementById("comName").value;
        var CIPCSearch = document.getElementById("CIPCSearch").value;
        var Reg = document.getElementById("Reg").value;

        if (comName === "" && CIPCSearch === "") {
            var alertMessage = '<div class="alert alert-danger" role="alert">'
                + 'Please fill in details to search!</div>';

            $(".resturn-message").html(alertMessage)
        }

        else if (comName === "") {
            var alertMessage = '<div class="alert alert-danger" role="alert">'
                + 'Please fill in Company Name to search!</div>';

            $(".resturn-message").html(alertMessage);

        }

        else if (CIPCSearch === "") {
            var alertMessage = '<div class="alert alert-danger" role="alert">'
                + 'Please fill in CIPC Search to search!</div>';

            $(".resturn-message").html(alertMessage);

        }

        else  {

        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("GetCompanyResults", "Home")',
                data: {
                    companyName: $('#comName').val(),

                },
                dataType: "text",
                error: function (result) {
                    alert(data);

                },
                success: function (result) {

                    var alertMessage = '<div class="alert alert-success" role="alert">'
                        + 'Searching.../div>';

                    $(".resturn-message").html(alertMessage)

                    //alert(result.user_type);

                }
            });
    }
                        }
</script>







