@{
    ViewBag.Title = "SearchHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-md-10 col-sm-10">
    <div class="row tabs-row" id="tabs-div">


        @*</div><span class="none" id="tabs-close">x</span>*@

    </div>
    @*<div class="row btn-row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('seaHistory')" style="cursor: pointer;color:white" type="button"
                            class="btns active">
                        SEARCH HISTORY
                    </button>
                </div>
            </div>
        </div>
    </div>*@

    <div id="seaHistory" style="display:block">
        <div class="row com-row">
            <div class="com-div">
                <div class="row">
                    <div class="col-6">
                        <form class="form-inline my-form-inline">
                            <div class="form-group mb-2 in-mar">
                                <label for="inputPassword" class="col-form-label search-label">Search by</label>
                                <div class="in-mar">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <button type="button" class="btn-b" data-toggle="modal" data-target="#adSearch">Advanced Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ro-2">
            <div class="con1">
                <table class="table table-borderless custom-table">
                    <thead>
                        <tr class="justify-content-around" style="display:flex">
                            <th scope="col" class="color">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    @*<div class="control__indicator"></div>*@
                                </label>
                            </th>
                            <th scope="col" class="color">Search Type</th>
                            <th scope="col" class="color">Description</th>
                            <th scope="col" class="color">Response Type</th>
                            <th scope="col" class="color">Reference</th>
                            <th scope="col" class="color">Name</th>
                            <th scope="col" class="color">Time Searched</th>
                            <th scope="col" class="color"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="rowTable ro-2">

            <div class="conSearchHistory">
                <div class="table-responsive my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass">

                    <table class="table table-borderless table-hover custom-table" style="table-layout:fixed;">
                        <tbody>
                            @foreach (var item in @ViewBag.ArrayList)
                            {

                                string ID = @item.SearchID;
                                string Token = @item.SearchToken;
                                string Ref = @item.Reference;
                                string Type = @item.ResponseType;

                                <tr scope="row" class="justify-content-around t-row " style="display:flex">
                                    <td style="">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" />
                                            @*<div class="control__indicator"></div>*@
                                        </label>
                                    </td>
                                    <td style="display:flex;text-wrap:normal" data-toggle="modal"
                                        data-target="#exampleModal">
                                        @item.CallerModule
                                    </td>
                                    <td style="" data-toggle="modal"
                                        data-target="#exampleModal">
                                        @item.SearchDescription
                                    </td>
                                    <td style="display:flex;word-break: break-all" data-toggle="modal"
                                        data-target="#exampleModal">
                                        @item.ResponseType
                                    </td>
                                    <td style="display:flex;word-break: break-all" data-toggle="modal"
                                        data-target="#exampleModal">
                                        @item.Reference
                                    </td>
                                    <td style="display:flex;word-break: break-all" data-toggle="modal"
                                        data-target="#exampleModal">
                                        @item.Name
                                    </td>
                                    <td style="" data-toggle="modal"
                                        data-target="#exampleModal">
                                        @item.ReportDate
                                    </td>

                                    <td>@Html.ActionLink("View", Type + "Database", "Credit", new { id = ID, token = Token, refe = Ref, type = Type }, null)</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="adSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advanced search options</h5>
                    <div class="row justify-content-end">
                        <div class="row" style="display: block;position: relative;margin-right:25px">
                            <i class="fas fa-times" data-dismiss="modal" style="font-size:40px;color:red;"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Search Field</strong><br>
                            @Html.DropDownList("searchField", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "Description", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Matching Mode</strong><br>
                            @Html.DropDownList("role", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "Contains", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Search Types</strong><br>
                            @Html.DropDownList("searchTypes", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "All Types", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Performed by</strong><br>
                            @Html.DropDownList("performedBy", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "Thoriso Rangata", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Number if Resuts</strong><br>
                            @Html.DropDownList("searchTypes", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "100", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row justify-content-start col-12">
                        <strong class="heading1">Start and end date</strong><br>

                        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" class="col-12" />
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                        </div>
                        <div class="col-6" style="margin-left: 343px;">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace">Reset Search</button>
                                <button class="btn-b2 btnSpace">Apply Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

      var tab = [];
    // removing duplicates

    function removeDup(data) {
        return data.filter((value, index) => data.indexOf(value) === index);
    }

    // Parse the serialized data back into an array of objects

    tab = JSON.parse(localStorage.getItem('tabs')) || [];



    // push the new data into the array


    tab.push('SEARCH HISTORY');



    tab = removeDup(tab);


    // Re-serialize the array back into a string and store it in localStorage

    localStorage.setItem('tabs', JSON.stringify(tab));


    var container = document.getElementById('tabs-div');

    console.log('test');

    for (var i = 0; i < tab.length; i++) {
       const txt = tab[i];
       console.log('txt: ', txt);
       const new_tabs = "<div class='tabs-btn' onClick='tes()' id='tabs-btn'><span class='tab-txt'>"+ txt +"</span>";
       container.insertAdjacentHTML("beforeend", new_tabs);
    };


    function tes() {

        tab_d = $(event.target).text();
        if (tab_d === "CSI Person Records") {

            window.location.href = "@Url.Action("CSIPersonalRecords", "Individual")";
        } else if (tab_d === "CIPC Company Search") {

                window.location.href = "@Url.Action("CIPCCompany", "Home")";
        } else if (tab_d === "Deeds Office Records Individual") {

              window.location.href = "@Url.Action("DeedsOfficeRecordsIndividual", "Individual")";
       } else if (tab_d === "CSI Company Records") {
            window.location.href = "@Url.Action("CSICompanyRecords", "Home")";

        } else if (tab_d === "Combined Consumer Trace") {

            window.location.href = "@Url.Action("CombinedConsumerTrace", "Credit")";
        } else if (tab_d === "Combined Credit Report") {

            window.location.href = "@Url.Action("CombinedCreditReport", "Credit")";

//// ====  CompuScan  =====////
        } else if (tab_d === "Bank Codes Document") {
             window.location.href = "@Url.Action("CompuScanBankCodesDocument", "Credit")";
        } else if (tab_d === "Bank On File") {

            window.location.href = "@Url.Action("CompuScanBankOnFile", "Credit")";
        } else if (tab_d === "Consumer Profile") {

            window.location.href = "@Url.Action("CompuScanConsumerProfile", "Credit")";
        } else if (tab_d === "Consumer Trace") {
            window.location.href = "@Url.Action("CompuScanConsumerTrace", "Credit")";

        } else if (tab_d === "Contact Information") {

            window.location.href = "@Url.Action("CompuScanContactInformation", "Credit")";
        } else if (tab_d === "Employment Confidence Index") {

            window.location.href = "@Url.Action("CompuScanEmploymentConfidenceIndex", "Credit")";
        } else if (tab_d === "Gross Monthly Income By ID Number") {
            window.location.href = "@Url.Action("CompuScanGrossMonthlyIncomeByIDNumber", "Credit")";

        } else if (tab_d === "ID Photo Verification") {

         window.location.href = "@Url.Action("CompuScanIDPhotoVerification", "Credit")";
        } else if (tab_d === "Experian Consumer Profile") {
          window.location.href = "@Url.Action("ExperianConsumerProfile", "Credit")";
//// ====  TransUnion   =====////
        } else if (tab_d === "TransUnion Company Profile") {

           window.location.href = "@Url.Action("TransUnionCompanyProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Contact Information") {

         window.location.href = "@Url.Action("TransUnionConsumerContactInformation", "Credit")";
        } else if (tab_d === "TransUnion Consumer ID Verification") {

          window.location.href = "@Url.Action("TransUnionConsumerIDVerification", "Credit")";
        } else if (tab_d === "TransUnion Consumer Profile") {
            window.location.href = "@Url.Action("TransUnionConsumerProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Trace") {

           window.location.href = "@Url.Action("TransUnionConsumerTrace", "Credit")";
//// ====  veriCred   =====////
        } else if (tab_d === "VeriCred Account Verification") {

          window.location.href = "@Url.Action("VeriCredAccountVerification", "Credit")";
        } else if (tab_d === "VeriCred Consumer Profile") {
            window.location.href = "@Url.Action("VeriCredConsumerProfile", "Credit")";

        } else if (tab_d === "VeriCred Contact Info By ID Number") {

            window.location.href = "@Url.Action("VeriCredContactInfoByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred ID Photo Verification") {

            window.location.href = "@Url.Action("VeriCredIDPhotoVerification", "Credit")";
        } else if (tab_d === "VeriCred Income Estimate By ID Number") {
             window.location.href = "@Url.Action("VeriCredIncomeEstimateByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred Person Verification By ID Number") {
            window.location.href = "@Url.Action("VeriCredPersonVerificationByIDNumber", "Credit")";
//// ==== XDS   =====////
        } else if (tab_d === "XDS Consumer ID Verification") {
            window.location.href = "@Url.Action("XDSConsumerIDVerification", "Credit")";
        } else if (tab_d === "XDS Consumer Trace") {
             window.location.href = "@Url.Action("XDSConsumerTrace", "Credit")";
//// ==== Search   =====////
        } else if (tab_d === "SEARCH HISTORY") {
            // window.location.href = "@Url.Action("SearchHistory", "UserManagement")";
        } else if (tab_d === "USER MANAGEMENT") {
             window.location.href = "@Url.Action("UserManagementHome", "UserManagement")";
        }

        console.log($(event.target).text());
    };
</script>