@{
    ViewBag.Title = "SearchHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div class="col-md-10 col-sm-10">
    <div class="row btn-row">
        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('seaHistory')" style="cursor: pointer;color:white" type="button"
                            class="btns active">
                        SEARCH HISTORY
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="seaHistory" style="display:block">
        <div class="row com-row">
            <div class="com-div">
                <div class="row">
                    <div class="col-6">
                        <form class="form-inline my-form-inline">
                            <div class="form-group mb-2 in-mar">
                                <label for="inputPassword" class="col-form-label search-label">Search by</label>
                                <div class="in-mar">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <button type="button" class="btn-b" data-toggle="modal" data-target="#adSearch">Advanced Search</button>
                        </form>
                    </div>

                    <div class="col-6">
                        <button class="btn-b2">Export List</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ro-2">
            <div class="con1">
                <table class="table table-borderless custom-table">
                    <thead>
                        <tr>
                            <th scope="col" class="color">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    <div class="control__indicator"></div>
                                </label>
                            </th>
                            <th scope="col" class="color">Search Type</th>
                            <th scope="col" class="color">Description</th>
                            <th scope="col" class="color">Response Type</th>
                            <th scope="col" class="color">Reference</th>
                            <th scope="col" class="color">Name</th>
                            <th scope="col" class="color">Time Searched</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row ro-2">

            <div class="con">
                <div class="table-responsive my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass">

                    <table class="table table-borderless table-hover custom-table">
                        <tbody>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            <tr scope="row" class="t-row" style="cursor:pointer">
                                <td class="t-col">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td class="bran-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    CSI Person Trace
                                </td>
                                <td class="tel-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    093478374637823
                                </td>
                                <td class="fax-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    NCR Auto Deletion
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    1
                                </td>
                                <td class="us-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    John Doe
                                </td>
                                <td class="plu-u" data-toggle="modal"
                                    data-target="#exampleModal">
                                    2021/12/31 17:56
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="adSearch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advanced search options</h5>
                    <div class="row justify-content-end">
                        <div class="row" style="display: block;position: relative;margin-right:25px">
                            <i class="fas fa-times" data-dismiss="modal" style="font-size:40px;color:red;"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Search Field</strong><br>
                            @Html.DropDownList("searchField", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "Description", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Matching Mode</strong><br>
                            @Html.DropDownList("role", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "Contains", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Search Types</strong><br>
                            @Html.DropDownList("searchTypes", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "All Types", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Performed by</strong><br>
                            @Html.DropDownList("performedBy", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "Thoriso Rangata", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Number if Resuts</strong><br>
                            @Html.DropDownList("searchTypes", new List<SelectListItem>
                               {
                               new SelectListItem { Text = "Admin", Value = "admin"},
                               new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                               }, "100", new { @id = "seatype", @class = "cus-input", required = "required" })
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row justify-content-start col-12">
                        <strong class="heading1">Start and end date</strong><br>

                        <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" class="col-12" />
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-6">
                        </div>
                        <div class="col-6" style="margin-left: 343px;">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace">Reset Search</button>
                                <button class="btn-b2 btnSpace">Apply Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>