@model searchworks.client.Models.UserManagementViewModel

@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 col-sm-10">
    <div class="row tabs-row" id="tabs-div">

        @*</div><span class="none" id="tabs-close">x</span>*@
    </div>
    <div>
        <p>
            @Html.LabelFor(m => m.Company.orgname)
            @Html.DisplayFor(m => m.Company.orgname)
        </p>
    </div>
    <div class="btn-row">

        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('companies')" style="cursor: pointer;color:white" type="button"
                            class="btns active">
                        MY COMPANY
                    </button>
                </div>
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('branches')" style="cursor: pointer;color:white" type="button"
                            class="btns ">
                        BRANCHES
                    </button>
                </div>
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('users')" style="cursor: pointer;color:white" type="button"
                            class="btns ">
                        USERS
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="companies" style="display: block; padding-top: 28px">
        @*<div class="row com-row">
            </div>*@
        <div class="sea_bar" @*class="row com-row"*@>
            <div class="col-6">
                <label>COMPANY INFORMATION</label>
            </div>
        </div>
        <div class="row ro-2">
            <div class="con2">
                <div class="col-md-6 col-sm-6 left">
                    @using (Html.BeginForm("CSIPersonalRecordsResults", "Individual", FormMethod.Post))
                    {
                        //Use Editor For on TextBox
                        <div class="">
                            <label>Company Name</label><br>
                            @Html.EditorFor(m => m.Company.orgname, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>

                        <div>
                            <label>Abbreviation</label><br>
                            @Html.TextBox("abbreviation", null, new
                             {
                             @id = "FirstName",
                             @class = "cus-input",
                             minlength
                             = "3",
                             maxlength = "30"
                             })
                        </div>
                        <label>Category</label><br>
                        @Html.DropDownList("seaType", new List<SelectListItem>
                            {
                            new SelectListItem { Text = "Name", Value = "name"},
                            new SelectListItem { Text = "Registration Number", Value = "regNum"},
                            }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                        <div class="">
                            <label>Registration Number</label><br>
                            @Html.TextBox("RegistrationNumber", null, new
                            {
                            @id = "FirstName",
                            @class = "cus-input"
                            })
                        </div>
                        <div class="vatregnum">
                            <label>Vat Registration Number</label><br>
                            @Html.TextBox("VatRegistrationNumber", null, new
                            {
                            @id = "FirstName",
                            @class
                            = "cus-input"
                            })
                        </div>
                        <div class="tc">

                            <button onclick="Search()" id="individualSearch" class="butn" name="combinedComSearch">Request Change</button>
                        </div>
                    }

                    @*<div class="col-md-6 col-sm-6">
                        </div>*@
                </div>
                <div class="col-md-6 col-sm-6 right">
                    <p>Please remember to keep your company information up to date</p>
                </div>
            </div>
        </div>
    </div>

    <div id="branches" style="display: none; padding-top: 28px">
        @*<div class="row com-row ">
                <div class="com-div">
                    <div class="row">
                        <div class="col-6">
                            <form class="form-inline my-form-inline">

                                <div class="form-group mb-2 in-mar">
                                    <label for="inputPassword" class="col-form-label search-label">Search by</label>
                                    <div class="in-mar">
                                        <input type="text" class="form-control" id="inputPassword">
                                    </div>
                                </div>
                                <button type="submit" class="btn-b">Search</button>
                            </form>
                        </div>

                        <div class="col-6">
                            <button class="btn-b2">Create branch</button>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="sea_bar" @*class="row com-row"*@>
            <div class="col-6" style="display: flex;">
                <label>Search History</label>
                <input name="search" />
                <button data-toggle="modal" data-target="#adSearch">Search</button>
            </div>
        </div>
        <div class="row ro-2">
            <div class="con1">
                <table class="table table-borderless custom-table">
                    <thead>
                        <tr class="justify-content-around t-row" style="display:flex">
                            <th scope="col" class="thSearch color">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    @*<div class="control__indicator"></div>*@
                                </label>
                            </th>
                            <th scope="col" class="thSearch color">Branch Name</th>
                            <th scope="col" class="thSearch color">Telephone</th>
                            <th scope="col" class="thSearch color">Fax</th>
                            <th scope="col" class="thSearch color">Users</th>
                            <th scope="col" class="thSearch color">Plus</th>
                            <th scope="col" class="thSearch color">Enabled</th>
                            <th scope="col" class="thSearch color"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="rowTable ro-2">
            <div class="conSearchHistory">
                <div class="table-responsive my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass">

                    <table class="table table-borderless table-hover custom-table" style="table-layout:fixed;">

                        <tbody>
                            <tr scope="row" class="justify-content-around t-row ">
                                <td scope="col" class="tdUM">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        @*<div class="control__indicator"></div>*@
                                    </label>
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Midrand
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    +27102938475
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    +27112938475
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    6 Users
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    -
                                </td>
                                <td class="pl-0 en-u tdUM">
                                    <div class=" align-items-center">
                                        <label class="custom-control ios-switch">
                                            <input type="checkbox" class="ios-switch-control-input" checked="">
                                            <span class="ios-switch-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="ey-u tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="fa fa-eye" aria-hidden="true"></i> View
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="users" style="display: none; padding-top: 28px">
        <div class="sea_bar" @*class="row com-row"*@>
            <div class="col-6" style="display: flex;">
                <label>Search History</label>
                <input name="search" />
                <button data-toggle="modal" data-target="#adSearch">Search</button>
            </div>

            <div class="col-6">
                <button class="btn-b2" data-toggle="modal" data-target="#userModal" style="background-color: #00B46F; cursor: pointer ">Create user</button>
            </div>
        </div>
        <!--<div class="row com-row">
            <div class="com-div">
                <div class="row">
                    <div class="col-6">-->
        @*<div class="row">
                <div class="col-3">
                    <p><strong>Search By</strong></p>
                </div>
                <div class="col-6">
                    <input class="inp-b" name="search" />
                </div>
                <div class="col-3">
                    <button class="btn-b">Search</button>
                </div>
            </div>*@

        <!--<form class="form-inline my-form-inline">

                            <div class="form-group mb-2 in-mar">
                                <label for="inputPassword" class="col-form-label search-label">Search by</label>
                                <div class="in-mar">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <button type="submit" class="btn-b">Search</button>
                        </form>
                    </div>

                    <div class="col-6">
                        <button class="btn-b2" data-toggle="modal" data-target="#userModal" style="cursor:pointer">Create user</button>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="row ro-2">
            <div class="con1">
                <table class="table table-borderless custom-table">
                    <thead>
                        <tr class="justify-content-around t-row" style="display:flex">
                            <th scope="col" class="thSearch color">
                                <label class="control control--checkbox">
                                    <input type="checkbox" class="js-check-all" />
                                    <div class="control__indicator"></div>
                                </label>
                            </th>
                            <th scope="col" class="thSearch color">Name</th>
                            <th scope="col" class="thSearch color">Branch Name</th>
                            <th scope="col" class="thSearch color">Mobile</th>
                            <th scope="col" class="thSearch color">Email</th>
                            <th scope="col" class="thSearch color">CC Role</th>
                            <th scope="col" class="thSearch color">SW Role</th>
                            <th scope="col" class="thSearch color">Enabled</th>
                            <th scope="col" class="thSearch color"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="rowTable ro-2">
            <div class="conUserMangement">
                <div class="table-responsive my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass">
                    <table class="table table-borderless table-hover custom-table" style="table-layout:fixed;">

                        <tbody>
                            <tr scope="row" class="justify-content-around t-row ">
                                <td scope="col" class="tdSH">
                                    <label class="control control--checkbox">
                                        <input type="checkbox" />
                                        <div class="control__indicator"></div>
                                    </label>
                                </td>
                                <td scope="col" class="tdSH" data-toggle="modal"
                                    data-target="#userModal">
                                    Walt
                                </td>
                                <td scope="col" class="tdSH" data-toggle="modal"
                                    data-target="#userModal">
                                    Midrand
                                </td>
                                <td scope="col" class="tdSH" data-toggle="modal"
                                    data-target="#userModal">
                                    +27 107 7897
                                </td>
                                <td scope="col" class="tdSH" data-toggle="modal"
                                    data-target="#userModal">
                                    walt@ktopportunities.co.za
                                </td>
                                <td scope="col" class="tdSH" data-toggle="modal"
                                    data-target="#userModal">
                                    User
                                </td>
                                <td scope="col" class="tdSH" data-toggle="modal"
                                    data-target="#userModal">
                                    User
                                </td>
                                <td class="pl-0 en-u tdSH">
                                    <div class=" align-items-center">
                                        <label class="custom-control ios-switch">
                                            <input type="checkbox" class="ios-switch-control-input" checked="">
                                            <span class="ios-switch-control-indicator"></span>
                                        </label>
                                        @*<a href="#">James Yates</a>*@
                                    </div>
                                </td>
                                <td class="ey-u tdSH" data-toggle="modal" data-target="#userModal"><i class="fa fa-eye" aria-hidden="true"></i> View</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-back" style="width: 126% !important;">
            <div class="modal-header" style="height: 63px;">
                <strong class="textLabel">BRANCH INFORMATION UPDATE</strong>
                <div class="row justify-content-end">

                    <div class="row" style="display: block;
                                                        margin: 20px;
                                                        position: relative;
                                                        bottom: 25px;">
                        <i class="fas fa-times" data-dismiss="modal"
                           style="font-size:40px;color:red;"></i>
                    </div>
                </div>
            </div>
            <div class="row btn-row">
                <div class="col-md-12 col-sm-12" style="padding-left: 56px;">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <button onclick="myFunction('branchInfo')"
                                    style="cursor: pointer;color:white" type="button"
                                    class="btns active">
                                BRANCH INFORMATION
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button onclick="myFunction('acctPersons')"
                                    style="cursor: pointer;color:white" type="button"
                                    class="btns ">
                                ACCOUNT PERSONS
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button onclick="myFunction('billingInfo')"
                                    style="cursor: pointer;color:white" type="button"
                                    class="btns ">
                                BILLING INFO
                            </button>
                        </div>
                        <div class="col-md-2 col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body modalBod">

                <div id="branchInfo" class="con" style="display:flex; ">

                    <div class="justify-content-between" style="display:flex;flex-direction:column">

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Branch Name</strong><br>
                                @Html.TextBox("BranchName", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Vat Number</strong><br>
                                @Html.TextBox("VatRegistrationNumber", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Sales Region/ Province</strong><br>
                                @Html.TextBox("SalesRegion", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Physical Address</strong><br>
                                @Html.TextArea("PhysicalAddress", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               @cols = "50",
                               @rows = "10",

                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Postal Addres</strong><br>
                                @Html.TextArea("PostalAddress", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               cols = "50",
                               rows = "10",

                           })
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Telephone Number</strong><br>
                                @Html.TextBox("TelephoneNumber", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Fax Number</strong><br>
                                @Html.TextBox("FaxNumber", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                            </div>
                            <div class="col-6" style="margin-left: 343px;">
                                <div class="row justify-content-end">
                                    <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                    <button class="btn-b2 btnSpace">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-body modalBod">*@
            <div id="acctPersons" class="con"
                 style="display:none;">
                <div class="container" style="display: flex; flex-direction: column;justify-content:space-between; margin-top: 26px;">
                    <div class="row"
                         style="display: flex; align-content: center;background: #212529 0% 0% no-repeat padding-box; height: 40px; width: 96.5%; align-self: center; box-shadow: 0px 3px 6px #00000029; border-radius: 10px; opacity: 1;">
                        <div class="col-sm heading">
                            <strong style="display: flex;">
                                Account
                                Persons
                            </strong>
                        </div>
                        <div class="col-sm heading">
                            <strong style="display: flex;">
                                Email
                                Address
                            </strong>
                        </div>
                    </div>

                    <div class="row justify-content-center ap">
                        <div class="col-6">
                            @* <strong class="heading1">Telephone Number</strong><br>*@
                            @Html.TextBox("AccountPerson", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            @*  <strong class="heading1">Fax Number</strong><br>*@
                            @Html.TextBox("Email", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center ap">
                        <div class="col-6">
                            @*  <strong class="heading1">Telephone Number</strong><br>*@
                            @Html.TextBox("AccountPerson1", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            @*<strong class="heading1">Fax Number</strong><br>*@
                            @Html.TextBox("Email1", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-right: 12px;">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                <button class="btn-b2 btnSpace">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 17px !important;"></div>

            <div id="billingInfo" class="con" style="display:none;overflow:scroll">
                <div class="container my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass"
                     style="display: flex; flex-direction: column;">

                    <div class="row justify-content-between"
                         style="align-items:center;padding:10px">

                        <strong>EXISTING BILLING INFORMATION</strong>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Branch</strong><br>
                            @Html.TextBox("Branch", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Use Bank Account</strong><br>
                            @Html.TextBox("UseBankAccount", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row">
                                <div class="rad">
                                    <div class="col-6">
                                        <p class="rad-lab">Bill Selected Branch</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="align-items-center" style="float: right;">
                                            <label class="custom-control ios-switch">
                                                <input type="checkbox" class="ios-switch-control-input" checked="">
                                                <span class="ios-switch-control-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Bank Name</strong><br>
                            @Html.TextBox("BankName", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Bank Branch Name</strong><br>
                            @Html.TextBox("BankBranchName", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Bank Branch Code</strong><br>
                            @Html.TextBox("BranchName", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Account Holder</strong><br>
                            @Html.TextBox("AccountHolder", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Account Number</strong><br>
                            @Html.TextBox("Account Number", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Account Type</strong><br>
                            @Html.TextBox("AccountType", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Pastel Account Number</strong><br>
                            @Html.TextBox("PastelAccountNumber", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Purchase Order</strong><br>
                            @Html.TextBox("Purchase Order", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-12">
                            <strong class="heading1">Address</strong><br>
                            @Html.TextBox("Street", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input addr",
                                   minlength = "3",
                                   maxlength = "30",
                                   placeholder = "Street",
                               })

                            @Html.TextBox("Town", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input addr",
                                   minlength = "3",
                                   maxlength = "30",
                                   placeholder = "Town",
                               })

                            @Html.TextBox("City", null, new
                              {
                                  @id = "FirstName",
                                  @class = "cus-input addr",
                                  minlength = "3",
                                  maxlength = "30",
                                  placeholder = "City",
                              })

                            @Html.TextBox("PostalCode", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input addr",
                                   minlength = "3",
                                   maxlength = "30",
                                   placeholder = "Postal Code",
                               })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Mobile Number (Optional)</strong><br>
                            @Html.TextBox("MobileNumber", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                            <strong class="heading1">Telephone Number</strong><br>
                            @Html.TextBox("TelephoneNumber", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Fax Number</strong><br>
                            @Html.TextBox("FaxNumber", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <div class="row">
                                <div class="rad">
                                    <div class="col-6">
                                        <p class="rad-lab">Is Debt Order</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="align-items-center" style="float: right;">
                                            <label class="custom-control ios-switch">
                                                <input type="checkbox" class="ios-switch-control-input" checked="">
                                                <span class="ios-switch-control-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">

                            <div class="row">
                                <div class="rad">
                                    <div class="col-6">
                                        <p class="rad-lab">Excluded</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="align-items-center" style="float: right;">
                                            <label class="custom-control ios-switch">
                                                <input type="checkbox" class="ios-switch-control-input" checked="">
                                                <span class="ios-switch-control-indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-6">
                            <strong class="heading1">Billing Date</strong><br>
                            @Html.TextBox("BillingDate", null, new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30"
                       })
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center" style="margin-right: 12px;">
                    <div class="col-6">
                    </div>
                    <div class="col-6">
                        <div class="row justify-content-end">
                            <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                            <button class="btn-b2 btnSpace">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin-top: 17px !important;"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog"
     aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-back" style="width: 126% !important;">
            <div class="modal-header" style="height: 63px;">
                <strong class="textLabel" z>USER INFORMATION</strong>
                <div class="row justify-content-end">

                    <div class="row" style="display: block;
                                                        margin: 20px;
                                                        position: relative;
                                                        bottom: 25px;">
                        <i class="fas fa-times" data-dismiss="modal"
                           style="font-size:40px;color:red;"></i>
                    </div>
                </div>
            </div>
            <div class="row btn-row">
                <div class="col-md-12 col-sm-12" style="padding-left: 56px;">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <button onclick="myFunction('userInfo')"
                                    style="cursor: pointer;color:white; margin-left: 13px;" type="button"
                                    class="btns active">
                                USER INFORMATION
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button onclick="myFunction('jcred')"
                                    style="cursor: pointer;color:white" type="button"
                                    class="btns ">
                                J CRED
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @*<button onclick="myFunction('billingInfo')"
                                        style="cursor: pointer;color:white" type="button"
                                        class="btns ">
                                    BILLING INFO
                                </button>*@
                        </div>
                        <div class="col-md-2 col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body modalBod">

                @*<div id="j-cred" class="con" style="display:flex; ">*@

                <div id="userInfo" class="con jc" style="display:block;">
                    <div class="container my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass"
                         style="display: flex; flex-direction: column;">

                        @*<div class="row justify-content-between"
                                 style="align-items:center;padding:10px">

                                <strong>user Info</strong>
                            </div>*@

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Company</strong><br>
                                @Html.TextBox("Company", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Branch</strong><br>
                                @Html.TextBox("Branch", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">First Name</strong><br>
                                @Html.TextBox("FistName", null, new
                                   {
                                       @id = "FirstName",
                                       @class = "cus-input",
                                       minlength = "3",
                                       maxlength = "30"
                                   })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Last Name</strong><br>
                                @Html.TextBox("LastName", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Role</strong><br>
                                @Html.DropDownList("role", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                            <div class="col-6">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Office Number</strong><br>
                                @Html.TextBox("officeNumber", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Mobile Number</strong><br>
                                @Html.TextBox("mobileNumber", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Email Address</strong><br>
                                @Html.TextBox("emailAddress", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                            <div class="col-6">

                                <strong class="heading1">Fax Number</strong><br>
                                @Html.TextBox("FaxNumber", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Password</strong><br>
                                @Html.Password("password", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Confirm Password</strong><br>
                                @Html.Password("confirmPassword", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="row">
                                    <div class="rad">
                                        <div class="col-6">
                                            <p class="rad-lab">Bill Selected Branch</p>
                                        </div>
                                        <div class="col-6">
                                            <div class="align-items-center" style="float: right;">
                                                <label class="custom-control ios-switch">
                                                    <input type="checkbox" class="ios-switch-control-input" checked="">
                                                    <span class="ios-switch-control-indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-right: 12px;">
                        <div class="col-6">
                        </div>
                        <div class="col-6" style="margin-left: 314px;">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                <button class="btn-b2 btnSpace">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="jcred" class="conUsers jc" style="display:none;height: none">
                    <div class="container my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass"
                         style="display: flex; flex-direction: column;">

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Reference</strong><br>
                                @Html.DropDownList("reference", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Role</strong><br>
                                @Html.DropDownList("role", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Deeds Office</strong><br>
                                @Html.DropDownList("deedsOffice", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Last Name</strong><br>
                                @Html.TextBox("LastName", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Enabled Search Types</strong><br>

                                @Html.ListBox("enableSearch", new List<SelectListItem>
                           {
                               //new SelectListItem { Text = "Admin", Value = "admin"},
                               //new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                           }, new { @id = "listBox", @class = "cus-input my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass", required = "required", Size = "6" })

                                <div class="row">
                                    <div class="rad2">
                                        <button class="btn-b2 btnSpace" style="width: 100%;">Enable</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Disabled Search Types</strong><br>
                                @Html.ListBox("enableSearch", new List<SelectListItem>
                                   {
                                       //new SelectListItem { Text = "Admin", Value = "admin"},
                                       //new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, new { @id = "listBox", @class = "cus-input my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass", required = "required", Size = "6" })

                                <div class="row">
                                    <div class="rad2">
                                        <button class="btn-b2 btnSpace" style="width: 100%;">Disable</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-right: 12px;">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                <button class="btn-b2 btnSpace">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div style="margin-top: 17px !important;"></div>*@
        </div>
    </div>
</div>

@* modal user end *@

<script>
    function myFunction(div) {
        var x = document.getElementById(div);

        var c = document.getElementById("companies");
        var b = document.getElementById("branches");
        var u = document.getElementById("users");

        var branchInfo = document.getElementById("branchInfo");
        var acctPersons = document.getElementById("acctPersons");
        var billingInfo = document.getElementById("billingInfo");

        var userInfo = document.getElementById("userInfo");
        var jcred = document.getElementById("jcred")

        if (div === 'branchInfo') {
            branchInfo.style.display = "block";
            acctPersons.style.display = "none";
            billingInfo.style.display = "none";
        }

        if (div === 'acctPersons') {
            branchInfo.style.display = "none";
            acctPersons.style.display = "block";
            billingInfo.style.display = "none";
        }
        if (div === 'billingInfo') {
            branchInfo.style.display = "none";
            acctPersons.style.display = "none";
            billingInfo.style.display = "block";
        }

        if (div === 'companies') {
            c.style.display = "block";
            b.style.display = "none";
            u.style.display = "none";
        }

        if (div === 'branches') {
            c.style.display = "none";
            b.style.display = "block";
            u.style.display = "none";
        }

        if (div === 'users') {
            c.style.display = "none";
            b.style.display = "none";
            u.style.display = "block";
        }

        if (div === "userInfo") {
            userInfo.style.display = "block";
            jcred.style.display = "none";
        }

        if (div === "jcred") {
            userInfo.style.display = "none";
            jcred.style.display = "block";
        }

    }

    $(function () {
        $('.js-check-all').on('click', function () {
            if ($(this).prop('checked')) {
                $('.control--checkbox input[type="checkbox"]').each(function () {
                    $(this).prop('checked', true);
                    $(this).closest('tr').addClass('active');
                })
            } else {
                $('.control--checkbox input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                    $(this).closest('tr').removeClass('active');
                })
            }
        });
        $('.control--checkbox input[type="checkbox"]').on('click', function () {
            if ($(this).closest('tr').hasClass('active')) {
                $(this).closest('tr').removeClass('active');
            } else {
                $(this).closest('tr').addClass('active');
            }
        });
    });
    var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
    var ps = new PerfectScrollbar(myCustomScrollbar);
    var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');
    myCustomScrollbar.onscroll = function () {
        scrollbarY.style.cssText =
            `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
    };

      var tab = [];
    // removing duplicates

    function removeDup(data) {
        return data.filter((value, index) => data.indexOf(value) === index);
    }

    // Parse the serialized data back into an array of objects

    tab = JSON.parse(localStorage.getItem('tabs')) || [];

    // push the new data into the array

    tab.push('USER MANAGEMENT');

    tab = removeDup(tab);

    // Re-serialize the array back into a string and store it in localStorage

    localStorage.setItem('tabs', JSON.stringify(tab));

    var container = document.getElementById('tabs-div');

    console.log('test');

    for (var i = 0; i < tab.length; i++) {
       const txt = tab[i];
       console.log('txt: ', txt);
       const new_tabs = "<div class='tabs-btn' onClick='tes()' id='tabs-btn'><span class='tab-txt'>"+ txt +"</span>";
       container.insertAdjacentHTML("beforeend", new_tabs);
    };

    function tes() {

        tab_d = $(event.target).text();
        if (tab_d === "CSI Person Records") {

            window.location.href = "@Url.Action("CSIPersonalRecords", "Individual")";
        } else if (tab_d === "CIPC Company Search") {

                window.location.href = "@Url.Action("CIPCCompany", "Home")";
        } else if (tab_d === "Deeds Office Records Individual") {

              window.location.href = "@Url.Action("DeedsOfficeRecordsIndividual", "Individual")";
       } else if (tab_d === "CSI Company Records") {
            window.location.href = "@Url.Action("CSICompanyRecords", "Home")";

        } else if (tab_d === "Combined Consumer Trace") {

            window.location.href = "@Url.Action("CombinedConsumerTrace", "Credit")";
        } else if (tab_d === "Combined Credit Report") {

            window.location.href = "@Url.Action("CombinedCreditReport", "Credit")";

//// ====  CompuScan  =====////
        } else if (tab_d === "Bank Codes Document") {
             window.location.href = "@Url.Action("CompuScanBankCodesDocument", "Credit")";
        } else if (tab_d === "Bank On File") {

            window.location.href = "@Url.Action("CompuScanBankOnFile", "Credit")";
        } else if (tab_d === "Consumer Profile") {

            window.location.href = "@Url.Action("CompuScanConsumerProfile", "Credit")";
        } else if (tab_d === "Consumer Trace") {
            window.location.href = "@Url.Action("CompuScanConsumerTrace", "Credit")";

        } else if (tab_d === "Contact Information") {

            window.location.href = "@Url.Action("CompuScanContactInformation", "Credit")";
        } else if (tab_d === "Employment Confidence Index") {

            window.location.href = "@Url.Action("CompuScanEmploymentConfidenceIndex", "Credit")";
        } else if (tab_d === "Gross Monthly Income By ID Number") {
            window.location.href = "@Url.Action("CompuScanGrossMonthlyIncomeByIDNumber", "Credit")";

        } else if (tab_d === "ID Photo Verification") {

         window.location.href = "@Url.Action("CompuScanIDPhotoVerification", "Credit")";
        } else if (tab_d === "Experian Consumer Profile") {
          window.location.href = "@Url.Action("ExperianConsumerProfile", "Credit")";
//// ====  TransUnion   =====////
        } else if (tab_d === "TransUnion Company Profile") {

           window.location.href = "@Url.Action("TransUnionCompanyProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Contact Information") {

         window.location.href = "@Url.Action("TransUnionConsumerContactInformation", "Credit")";
        } else if (tab_d === "TransUnion Consumer ID Verification") {

          window.location.href = "@Url.Action("TransUnionConsumerIDVerification", "Credit")";
        } else if (tab_d === "TransUnion Consumer Profile") {
            window.location.href = "@Url.Action("TransUnionConsumerProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Trace") {

           window.location.href = "@Url.Action("TransUnionConsumerTrace", "Credit")";
//// ====  veriCred   =====////
        } else if (tab_d === "VeriCred Account Verification") {

          window.location.href = "@Url.Action("VeriCredAccountVerification", "Credit")";
        } else if (tab_d === "VeriCred Consumer Profile") {
            window.location.href = "@Url.Action("VeriCredConsumerProfile", "Credit")";

        } else if (tab_d === "VeriCred Contact Info By ID Number") {

            window.location.href = "@Url.Action("VeriCredContactInfoByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred ID Photo Verification") {

            window.location.href = "@Url.Action("VeriCredIDPhotoVerification", "Credit")";
        } else if (tab_d === "VeriCred Income Estimate By ID Number") {
             window.location.href = "@Url.Action("VeriCredIncomeEstimateByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred Person Verification By ID Number") {
            window.location.href = "@Url.Action("VeriCredPersonVerificationByIDNumber", "Credit")";
//// ==== XDS   =====////
        } else if (tab_d === "XDS Consumer ID Verification") {
            window.location.href = "@Url.Action("XDSConsumerIDVerification", "Credit")";
        } else if (tab_d === "XDS Consumer Trace") {
             window.location.href = "@Url.Action("XDSConsumerTrace", "Credit")";
//// ==== Search   =====////
        } else if (tab_d === "SEARCH HISTORY") {
             window.location.href = "@Url.Action("SearchHistory", "UserManagement")";
        } else if (tab_d === "USER MANAGEMENT") {
           //  window.location.href = "@Url.Action("UserManagementHome", "UserManagement")";
        }

        console.log($(event.target).text());
    };
</script>