@model searchworks.client.Models.UserManagementViewModel

@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(Model.orgunits, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "webGrid", ajaxUpdateCallback: "setArrows");
    var grid2 = new WebGrid(Model.users, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "webGrid", ajaxUpdateCallback: "setArrows");
}


<style>

    .Large {
        width: 10%;
        text-align: center;
    }

    .webgrid {
        margin: 4px;
        border-collapse: collapse;
        width: 90%;
    }

    .header {
        padding: 6px 5px;
        text-align: center;
        background-color: #212529;
        /*border-bottom: 2px solid #3966A2;*/
        height: 59px;
        font-weight: bold;
        /* border-top: 2px solid #D6E8FF;
        border-left: 2px solid #D6E8FF;
        border-right: 2px solid #D6E8FF;*/

       /* position: relative;
        bottom: 87px;*/
    }

    .webgrid th, .webgrid td {
        border: 1px solid #C0C0C0;
        padding: 5px;
    }

    #webGrid tbody td {
        position: relative;
        bottom: 46px;
    }

    #webGrid thead th {
        padding-bottom: 17px !important;
        text-align: center;
    }

    #webGrid thead a {
       color: white;
    }
/*
    tbody td {
        text-align: center;
    }*/
    #webGrid thead {
        position: relative;
        bottom: 86px;
    }
    #vi {
        padding-left: 4px;
    }
</style>

<div class="col-md-10 col-sm-10">
    <div class="row tabs-row" id="tabs-div">

        @*</div><span class="none" id="tabs-close">x</span>*@
    </div>
    @*<div>
        <p>
            @Html.LabelFor(m => m.Company.orgname)
            @Html.DisplayFor(m => m.Company.orgname)
        </p>
    </div*@
    @*<div class="btn-row">

        <div class="col-md-6 col-sm-6">
            <div class="row">
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('companies')" style="cursor: pointer;color:white" type="button"
                            class="btns active">
                        MY COMPANY
                    </button>
                </div>
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('branches')" style="cursor: pointer;color:white" type="button"
                            class="btns ">
                        BRANCHES
                    </button>
                </div>
                <div class="col-md-4 col-sm-1">
                    <button onclick="myFunction('users')" style="cursor: pointer;color:white" type="button"
                            class="btns ">
                        USERS
                    </button>
                </div>
            </div>
        </div>
    </div>*@

    <div id="companies" style="display: block; padding-top: 28px">
        @*<div class="row com-row

        </div>*@

        <div class="btn-row" style="margin-bottom: 20px;">

            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('companies')" style="cursor: pointer;color:white" type="button"
                                class="btns active">
                            MY COMPANY
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('branches')" style="cursor: pointer;color:white" type="button"
                                class="btns ">
                            BRANCHES
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('users')" style="cursor: pointer;color:white" type="button"
                                class="btns ">
                            USERS
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="sea_bar2" @*class="row com-row"*@>
            <div class="col-6">
                <label>COMPANY INFORMATION</label>
            </div>
        </div>
        <div class="row ro-2">
            <div class="col-3">
                <div class="con22" style="height: 512px;">
                    @using (Html.BeginForm("CSIPersonalRecordsResults", "Individual", FormMethod.Post))
                    {
                        //Use Editor For on TextBox
                        <div class="">
                            @Html.LabelFor(m => m.Company.orgname)<br>
                            @Html.EditorFor(m => m.Company.orgname, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30",
                               disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })


                        </div>

                        <div>
                            <label>Abbreviation</label><br>
                            @Html.EditorFor(m => m.Company.orgcode, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               maxlength = "30",
                               disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })
                        </div>
                        <label>Category</label><br>
                        @Html.EditorFor(m => m.Category.orgcategoryname, new
                   {
                       htmlAttributes = new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           maxlength = "30",
                           disabled = "disabled",
                           @readonly = "readonly"
                       }
                   })
                        <label>Registration Number</label><br>
                        @Html.EditorFor(m => m.Company.org_regno,
                        new
                             {
                                 htmlAttributes = new
                        {
                            @id = "FirstName",
                            @class = "cus-input",
                            maxlength = "30",
                            disabled = "disabled",
                            @readonly = "readonly"
                        }
                             })

                        <div class="vatregnum">
                            <label>Vat Registration Number</label><br>
                            @Html.EditorFor(m => m.Company.org_vatno,
                             new
                             {
                                 htmlAttributes = new
                                 {
                                     @id = "FirstName",
                                     @class = "cus-input",
                                     maxlength = "30",
                                     disabled = "disabled",
                                     @readonly = "readonly"
                                 }
                             })
                        </div>
                       
                    }

                    @*<div class="col-md-6 col-sm-6">
            </div>*@
                </div>
            </div>

            <div class="con22 col-9">
                <div class="row">
                    <div class="col-6"><span style="font-weight: bold;"> BILLING INFORMATION EXISTING</span></div>
                    <div class="col-6 right"><p class="ban">Please remember to keep your company information up to date</p></div>
                </div>
                <div class="row my-cus-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass">
                    <div class="col-md-6 col-sm-6">

                        <div class="">
                            <label>Bank Name</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgname, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })


                        </div>

                        <div>
                            <label>Bank Branch Code</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgcode, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })
                        </div>
                        <label>Account Number</label><br>
                        @Html.EditorFor(m => m.Emptycompany.orgcode, new
                   {
                       htmlAttributes = new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           maxlength = "30",
                          // disabled = "disabled",
                           @readonly = "readonly"
                       }
                   })
                        <label>Pastel Account Number</label><br>
                        @Html.EditorFor(m => m.Emptycompany.org_regno,
                        new
                             {
                                 htmlAttributes = new
                        {
                            @id = "FirstName",
                            @class = "cus-input",
                            maxlength = "30",
                           // disabled = "disabled",
                            @readonly = "readonly"
                        }
                             })


                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="">
                            <label>Bank Branch Name</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgname, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })


                        </div>

                        <div>
                            <label>Account Holder</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgcode, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })
                        </div>
                        <label>Account Type</label><br>
                        @Html.EditorFor(m => m.Emptycompany.orgcode, new
                   {
                       htmlAttributes = new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           maxlength = "30",
                          // disabled = "disabled",
                           @readonly = "readonly"
                       }
                   })
                        <label>Purchase Order</label><br>
                        @Html.EditorFor(m => m.Emptycompany.org_regno,
                        new
                             {
                                 htmlAttributes = new
                        {
                            @id = "FirstName",
                            @class = "cus-input",
                            maxlength = "30",
                           // disabled = "disabled",
                            @readonly = "readonly"
                        }
                             })




                    </div>



                    <div class="col-12">

                        <label>Address</label><br>
                        @Html.EditorFor(m => m.Emptycompany.orgname, new
                   {
                       htmlAttributes = new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           minlength = "3",
                           maxlength = "30",
                           @placeholder = "street",
                           // disabled = "disabled",
                           @readonly = "readonly"
                       }
                   })

                        <label></label><br>
                        @Html.EditorFor(m => m.Emptycompany.orgcode, new
                   {
                       htmlAttributes = new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           maxlength = "30",
                           @placeholder = "Town",
                          // disabled = "disabled",
                           @readonly = "readonly"
                       }
                   })
                        <label></label><br>
                        @Html.EditorFor(m => m.Emptycompany.orgcode, new
                   {
                       htmlAttributes = new
                       {
                           @id = "FirstName",
                           @class = "cus-input",
                           maxlength = "30",
                           @placeholder = "City",
                          // disabled = "disabled",
                           @readonly = "readonly"
                       }
                   })
                        <label></label><br>
                        @Html.EditorFor(m => m.Emptycompany.org_regno,
                        new
                        {
                            htmlAttributes = new
                            {
                                @id = "FirstName",
                                @class = "cus-input",
                                maxlength = "30",
                                @placeholder = "Postal code",
                                @style = "width: 197px;",
                               // disabled = "disabled",
                                @readonly = "readonly"
                            }
                        })

                    </div>

                    <div class="col-md-6 col-sm-6">

                        <div class="">
                            <label>Mobile Number</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgname, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })


                        </div>

                        <div>
                            <label>Billing Start Date</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgcode, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })
                        </div>
                    

                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="">
                            <label>Telephone Number</label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgname, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })


                        </div>

                        <div>
                            <label></label><br>
                            @Html.EditorFor(m => m.Emptycompany.orgcode, new
                       {
                           htmlAttributes = new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               maxlength = "30",
                               @placeholder = "Excluded",
                              // disabled = "disabled",
                               @readonly = "readonly"
                           }
                       })
                        </div>


                    </div>


                </div>
            
                <div class="row" style="position: relative; bottom: 44px;">
                    <div class="tc">

                        <button onclick="Search()" id="individualSearch" class="butn" name="combinedComSearch">Send Request for Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="branches" style="display: none; padding-top: 28px">
        @*<div class="row com-row ">
            <div class="com-div">
                <div class="row">
                    <div class="col-6">
                        <form class="form-inline my-form-inline">

                            <div class="form-group mb-2 in-mar">
                                <label for="inputPassword" class="col-form-label search-label">Search by</label>
                                <div class="in-mar">
                                    <input type="text" class="form-control" id="inputPassword">
                                </div>
                            </div>
                            <button type="submit" class="btn-b">Search</button>
                        </form>
                    </div>

                    <div class="col-6">
                        <button class="btn-b2">Create branch</button>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('companies')" style="cursor: pointer;color:white" type="button"
                                class="btns active">
                            MY COMPANY
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('branches')" style="cursor: pointer;color:white" type="button"
                                class="btns ">
                            BRANCHES
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('users')" style="cursor: pointer;color:white" type="button"
                                class="btns ">
                            USERS
                        </button>
                    </div>
                </div>
            </div>

            <div class="sea_bar col-6">
                <div style="display: flex;">
                    <label>Search</label>
                    <input name="search" />
                    <button class="sea-b" data-toggle="modal" data-target="#adSearch">Search</button>
                </div>

                <div class="col-6 creat-mo">
                    <button class="btn-b2" data-toggle="modal" data-target="#exampleModal" style="background-color: #00B46F; cursor: pointer ">Create branch</button>
                </div>
            </div>
        </div>
        
        <div class="row ro-2">
            <div class="con1">
                <!--<table class="table table-borderless custom-table">
            <thead>
                <tr class="justify-content-around t-row" style="display:flex">
                    <th scope="col" class="thSearch color">
                        <label class="control control--checkbox">
                            <input type="checkbox" class="js-check-all" />-->
                @*<div class="control__indicator"></div>*@
                <!--</label>
                        </th>
                        <th scope="col" class="thSearch color">Branch Name</th>
                        <th scope="col" class="thSearch color">Telephone</th>
                        <th scope="col" class="thSearch color">Fax</th>
                        <th scope="col" class="thSearch color">Users</th>
                        <th scope="col" class="thSearch color">Plus</th>
                        <th scope="col" class="thSearch color">Enabled</th>
                        <th scope="col" class="thSearch color"></th>
                    </tr>
                </thead>
            </table>-->
            </div>
        </div>

        <div class="rowTable ro-2">
            <div class="conSearchHistory" id="gridContainer">
                <div class="my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass" id="webGrid">



                    @MvcHtmlString.Create(
                           grid.GetHtml(tableStyle: "table table-borderless",
                           alternatingRowStyle: "alternate",
                           headerStyle: "header",
                           selectedRowStyle: "selected",
                           mode: WebGridPagerModes.All,
                           columns: grid.Columns
                           (
                            grid.Column(header: "{CheckBoxHeading}", style: "Large", format:@<text><input class="box" type="checkbox" /></text>),
                            //grid.Column(columnName: "parent_orgunitid", header: "Parent Org", style: "Large"),
                            grid.Column(columnName: "orgunitname", header: "Unit Name", style: "Large"),
                            grid.Column(columnName: "orgunitcode", header: "Unit Code", style: "Large"),
                            grid.Column(columnName: "regionid", header: "Region", style: "Large"),
                            grid.Column(columnName: "telephone", header: "Tel", style: "Large"),
                            grid.Column(columnName: "orgunit_regno", header: "Registration#.", style: "Large"),
                            grid.Column(columnName: "orgunit_vatno", header: "VAT#", style: "Large"),
                            grid.Column(columnName: "created_at", header: "Created AT", style: "Large"),
                            grid.Column(columnName: "updated_at", header: "Updated AT", style: "Large"),
                            grid.Column(header: "", canSort: false, style: "action",
                            format: @<text>
                                    @Html.Raw("<a data-modal='' class='raw_click' data-assigned-id='@orgunitid'  data-toggle='modal' data-target='#exampleModal' href ='' title='View'> <i class='fa fa-eye' aria-hidden='true'></i><span id='vi'>View</span> </a>")
                                    @*@Html.Raw("<a data-modal='' href='' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
                                    @Html.Raw("<a data-modal='' href='' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")*@
                                </text>)
                            //,
                            //grid.Column(header: "Action", format: (item) =>
                            //{
                            //    var link = Html.ActionLink("Edit", "Edit", new { id = item.orgtenantid });
                            //    return link;
                            //})
                            //
                            //,

                            //grid.Column(header: "Action", format: (item) =>
                            //{
                            //var link = Html.ActionLink("Delete", "Delete", new { id = item.orgtenantid });
                            //return link;
                            //}),
                                @*grid.Column(header: "Action", format: @<text>@Html.ActionLink("Detail", null, null, new { @onclick = "return GetSelectedRow(this);" })
                                </text>)*@
                            )
                            ).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' id='allBox'/>")
                            )

                    @Html.Hidden("dir", @grid.SortDirection)

                    @Html.Hidden("col", @grid.SortColumn)

                    <!--<table class="table table-borderless table-hover custom-table" style="table-layout:fixed;">

                <tbody>
                    foreach (var d in Model.orgunits)
                    {
                        <tr scope="row" class="justify-content-around t-row ">
                            <td scope="col" class="tdUM">
                                <label class="control control--checkbox">
                                    <input type="checkbox" />-->
                    @*<div class="control__indicator"></div>*@
                    <!--</label>
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                   d.telephone
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    d.fax
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    6 Users
                                </td>
                                <td scope="col" class="tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    -
                                </td>
                                <td class="pl-0 en-u tdUM">
                                    <div class=" align-items-center">
                                        <label class="custom-control ios-switch">
                                            <input type="checkbox" class="ios-switch-control-input" checked="">
                                            <span class="ios-switch-control-indicator"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="ey-u tdUM" data-toggle="modal"
                                    data-target="#exampleModal">
                                    <i class="fa fa-eye" aria-hidden="true"></i> View
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>-->
                </div>
            </div>
        </div>
    </div>

    <div id="users" style="display: none; padding-top: 28px">

        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('companies')" style="cursor: pointer;color:white" type="button"
                                class="btns active">
                            MY COMPANY
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('branches')" style="cursor: pointer;color:white" type="button"
                                class="btns ">
                            BRANCHES
                        </button>
                    </div>
                    <div class="col-md-4 col-sm-1">
                        <button onclick="myFunction('users')" style="cursor: pointer;color:white" type="button"
                                class="btns ">
                            USERS
                        </button>
                    </div>
                </div>
            </div>

            <div class="sea_bar col-6">
                <div style="display: flex;">
                    <label>Search</label>
                    <input name="search" />
                    <button class="sea-b" data-toggle="modal" data-target="#adSearch">Search</button>
                </div>

                <div class="col-6 creat-mo">
                    <button class="btn-b2" data-toggle="modal" data-target="#userModal" style="background-color: #00B46F; cursor: pointer">Create user</button>
                </div>
            </div>
        </div>

        <div class="row ro-2">
            <div class="con1">
    
            </div>
        </div>

        <div class="rowTable ro-2">
            <div class="conSearchHistory" id="gridContainer">
                <div class="my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass" id="webGrid">



                    @MvcHtmlString.Create(
                           grid2.GetHtml(tableStyle: "table table-borderless",
                           alternatingRowStyle: "alternate",
                           headerStyle: "header",
                           selectedRowStyle: "selected",
                           mode: WebGridPagerModes.All,
                           columns: grid2.Columns
                           (
                            grid2.Column(header: "{CheckBoxHeading}", style: "Large", format:@<text><input class="box" type="checkbox" /></text>),
                            //grid.Column(columnName: "parent_orgunitid", header: "Parent Org", style: "Large"),
                            grid2.Column(columnName: "firstName", header: "First Name", style: "Large"),
                            grid2.Column(columnName: "lastName", header: "Last Name", style: "Large"),
                            grid2.Column(columnName: "phone", header: "Phone", style: "Large"),
                            grid2.Column(columnName: "email", header: "Email", style: "Large"),
                            @*grid2.Column(header: "User Role", style: "Large"),
                            grid2.Column(header: "Enable", style: "Large", format:@<text><input class="box" type="checkbox" /></text> ),*@
                            //grid.Column(columnName: "created_at", header: "Created AT", style: "Large"),
                            //grid.Column(columnName: "updated_at", header: "Updated AT", style: "Large"),
                            grid2.Column(header: "", canSort: false, style: "actions",
                            format: @<text>
                    @Html.Raw("<a data-modal='' class='raw_click' data-assigned-id=''  data-toggle='modal' data-target='#userModal' href ='' title='View'> <i class='fa fa-eye' aria-hidden='true'></i><span id='vi'>View</span> </a>")
                    @*@Html.Raw("<a data-modal='' href='' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")
        @Html.Raw("<a data-modal='' href='' title='Delete'> <span class='glyphicon glyphicon-trash'> </span> </a>")*@
                </text>)
     //,
     //grid.Column(header: "Action", format: (item) =>
     //{
     //    var link = Html.ActionLink("Edit", "Edit", new { id = item.orgtenantid });
     //    return link;
     //})
     //
     //,

     //grid.Column(header: "Action", format: (item) =>
     //{
     //var link = Html.ActionLink("Delete", "Delete", new { id = item.orgtenantid });
     //return link;
     //}),
                @*grid.Column(header: "Action", format: @<text>@Html.ActionLink("Detail", null, null, new { @onclick = "return GetSelectedRow(this);" })
    </text>)*@
)
).ToString().Replace("{CheckBoxHeading}", "<input type='checkbox' id='allBox'/>")
)

                    @Html.Hidden("dir", @grid.SortDirection)

                    @Html.Hidden("col", @grid.SortColumn)

                    <!--<table class="table table-borderless table-hover custom-table" style="table-layout:fixed;">

    <tbody>
        foreach (var d in Model.orgunits)
        {
            <tr scope="row" class="justify-content-around t-row ">
                <td scope="col" class="tdUM">
                    <label class="control control--checkbox">
                        <input type="checkbox" />-->
                    @*<div class="control__indicator"></div>*@
                    <!--</label>
                    </td>
                    <td scope="col" class="tdUM" data-toggle="modal"
                        data-target="#exampleModal">
                    </td>
                    <td scope="col" class="tdUM" data-toggle="modal"
                        data-target="#exampleModal">
                       d.telephone
                    </td>
                    <td scope="col" class="tdUM" data-toggle="modal"
                        data-target="#exampleModal">
                        d.fax
                    </td>
                    <td scope="col" class="tdUM" data-toggle="modal"
                        data-target="#exampleModal">
                        6 Users
                    </td>
                    <td scope="col" class="tdUM" data-toggle="modal"
                        data-target="#exampleModal">
                        -
                    </td>
                    <td class="pl-0 en-u tdUM">
                        <div class=" align-items-center">
                            <label class="custom-control ios-switch">
                                <input type="checkbox" class="ios-switch-control-input" checked="">
                                <span class="ios-switch-control-indicator"></span>
                            </label>
                        </div>
                    </td>
                    <td class="ey-u tdUM" data-toggle="modal"
                        data-target="#exampleModal">
                        <i class="fa fa-eye" aria-hidden="true"></i> View
                    </td>
                </tr>
            }

        </tbody>
    </table>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-back" style="width: 126% !important;">
            <div class="modal-header" style="height: 63px;">
                <strong class="textLabel">BRANCH INFORMATION UPDATE</strong>
                <div class="row justify-content-end">

                    <div class="row" style="display: block;
                                                        margin: 20px;
                                                        position: relative;
                                                        bottom: 25px;">
                        <i class="fas fa-times" data-dismiss="modal"
                           style="font-size:40px;color:red;"></i>
                    </div>
                </div>
            </div>           
            <div class="modal-body modalBod">

                <div id="branchInfo" class="con" style="display:flex; ">

                    <div class="justify-content-between" style="display:flex;flex-direction:column">

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Branch Name</strong><br>
                                @Html.EditorFor(m => m.Addorgunit.orgunitname, new
                                {
                                     htmlAttributes = new
                                     {
                                         @id = "FirstName",
                                         @class = "cus-input",
                                         minlength = "3",
                                         maxlength = "30"
                                     }
                                })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Vat Number</strong><br>
                                @Html.EditorFor(m => m.Addorgunit.orgunit_vatno, new
                             {
                                  htmlAttributes = new
                                  {
                                      @id = "FirstName",
                                      @class = "cus-input",
                                      minlength = "3",
                                      maxlength = "30"
                                  }
                             })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Sales Region/ Province</strong><br>
                                @Html.EditorFor(m => m.Addorgunit.regionid, new
                               {
                                    htmlAttributes = new
                                    {
                                        @id = "FirstName",
                                        @class = "cus-input",
                                        minlength = "3",
                                        maxlength = "30"
                                    }
                               })
                            </div>
                            <div class="col-6">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Physical Address</strong><br>
                                   @Html.EditorFor(m => m.Currentorgunit.physical_address, new
                                {
                                     htmlAttributes = new
                                     {
                                         @id = "FirstName",
                                         @class = "cus-input",
                                         minlength = "3",
                                         maxlength = "30"
                                     }
                                })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Postal Addres</strong><br>
                                @Html.EditorFor(m => m.Addorgunit.postal_address, new
                                {
                                     htmlAttributes = new
                                     {
                                         @id = "FirstName",
                                         @class = "cus-input",
                                         minlength = "3",
                                         maxlength = "30"
                                     }
                                })
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Telephone Number</strong><br>
                                @Html.EditorFor(m => m.Addorgunit.telephone, new
                              {
                                   htmlAttributes = new
                                   {
                                       @id = "FirstName",
                                       @class = "cus-input",
                                       minlength = "3",
                                       maxlength = "30"
                                   }
                              })
                            </div>
                            <div class="col-6">
                            
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                            </div>
                            <div class="col-6" style="margin-left: 343px;">
                                <div class="row justify-content-end">
                                    <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                    <button class="btn-b2 btnSpace">Save Changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-body modalBod">*@
            

            <div style="margin-top: 17px !important;"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal" tabindex="-1" role="dialog"
     aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-back" style="width: 126% !important;">
            <div class="modal-header" style="height: 63px;">
                <strong class="textLabel" z>USER INFORMATION</strong>
                <div class="row justify-content-end">

                    <div class="row" style="display: block;
                                                        margin: 20px;
                                                        position: relative;
                                                        bottom: 25px;">
                        <i class="fas fa-times" data-dismiss="modal"
                           style="font-size:40px;color:red;"></i>
                    </div>
                </div>
            </div>
            <div class="row btn-row">
                <div class="col-md-12 col-sm-12" style="padding-left: 56px;">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <button onclick="myFunction('userInfo')"
                                    style="cursor: pointer;color:white; margin-left: 13px;" type="button"
                                    class="btns active">
                                USER INFORMATION
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <button onclick="myFunction('jcred')"
                                    style="cursor: pointer;color:white" type="button"
                                    class="btns ">
                                J CRED
                            </button>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            @*<button onclick="myFunction('billingInfo')"
                                        style="cursor: pointer;color:white" type="button"
                                        class="btns ">
                                    BILLING INFO
                                </button>*@
                        </div>
                        <div class="col-md-2 col-sm-2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body modalBod">

                @*<div id="j-cred" class="con" style="display:flex; ">*@

                <div id="userInfo" class="con jc" style="display:block;">
                    <div class="container my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass"
                         style="display: flex; flex-direction: column;">

                        @*<div class="row justify-content-between"
                                 style="align-items:center;padding:10px">

                                <strong>user Info</strong>
                            </div>*@

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Company</strong><br>
                                @Html.TextBox("Company", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Branch</strong><br>
                                @Html.TextBox("Branch", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">First Name</strong><br>
                                @Html.TextBox("FistName", null, new
                                   {
                                       @id = "FirstName",
                                       @class = "cus-input",
                                       minlength = "3",
                                       maxlength = "30"
                                   })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Last Name</strong><br>
                                @Html.TextBox("LastName", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Role</strong><br>
                                @Html.DropDownList("role", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                            <div class="col-6">
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Office Number</strong><br>
                                @Html.TextBox("officeNumber", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Mobile Number</strong><br>
                                @Html.TextBox("mobileNumber", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Email Address</strong><br>
                                @Html.TextBox("emailAddress", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                            <div class="col-6">


                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Password</strong><br>
                                @Html.Password("password", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Confirm Password</strong><br>
                                @Html.Password("confirmPassword", null, new
                               {
                                   @id = "FirstName",
                                   @class = "cus-input",
                                   minlength = "3",
                                   maxlength = "30"
                               })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="row">
                                    <div class="rad">
                                        <div class="col-6">
                                            <p class="rad-lab">Bill Selected Branch</p>
                                        </div>
                                        <div class="col-6">
                                            <div class="align-items-center" style="float: right;">
                                                <label class="custom-control ios-switch">
                                                    <input type="checkbox" class="ios-switch-control-input" checked="">
                                                    <span class="ios-switch-control-indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-right: 12px;">
                        <div class="col-6">
                        </div>
                        <div class="col-6" style="margin-left: 314px;">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                <button class="btn-b2 btnSpace">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="jcred" class="conUsers jc" style="display:none;height: none">
                    <div class="container my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass"
                         style="display: flex; flex-direction: column;">

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Reference</strong><br>
                                @Html.DropDownList("reference", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Role</strong><br>
                                @Html.DropDownList("role", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Deeds Office</strong><br>
                                @Html.DropDownList("deedsOffice", new List<SelectListItem>
                                   {
                                   new SelectListItem { Text = "Admin", Value = "admin"},
                                   new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, "Please Select", new { @id = "seatype", @class = "cus-input", required = "required" })
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Last Name</strong><br>
                                @Html.TextBox("LastName", null, new
                           {
                               @id = "FirstName",
                               @class = "cus-input",
                               minlength = "3",
                               maxlength = "30"
                           })
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-6">
                                <strong class="heading1">Enabled Search Types</strong><br>

                                @Html.ListBox("enableSearch", new List<SelectListItem>
                           {
                               //new SelectListItem { Text = "Admin", Value = "admin"},
                               //new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                           }, new { @id = "listBox", @class = "cus-input my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass", required = "required", Size = "6" })

                                <div class="row">
                                    <div class="rad2">
                                        <button class="btn-b2 btnSpace" style="width: 100%;">Enable</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <strong class="heading1">Disabled Search Types</strong><br>
                                @Html.ListBox("enableSearch", new List<SelectListItem>
                                   {
                                       //new SelectListItem { Text = "Admin", Value = "admin"},
                                       //new SelectListItem { Text = "Super-Admin", Value = "super-admin"},
                                   }, new { @id = "listBox", @class = "cus-input my-custom-scrollbar my-custom-scrollbar-primary scrollbar scrollbar-dusty-grass", required = "required", Size = "6" })

                                <div class="row">
                                    <div class="rad2">
                                        <button class="btn-b2 btnSpace" style="width: 100%;">Disable</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center" style="margin-right: 12px;">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <div class="row justify-content-end">
                                <button class="btn-b2-cancel btnSpace" data-dismiss="modal">Cancel</button>
                                <button class="btn-b2 btnSpace">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div style="margin-top: 17px !important;"></div>*@
        </div>
    </div>
</div>

@* modal user end *@

<script>
    function myFunction(div) {
        var x = document.getElementById(div);

        var c = document.getElementById("companies");
        var b = document.getElementById("branches");
        var u = document.getElementById("users");

        var branchInfo = document.getElementById("branchInfo");
        var acctPersons = document.getElementById("acctPersons");
        var billingInfo = document.getElementById("billingInfo");

        var userInfo = document.getElementById("userInfo");
        var jcred = document.getElementById("jcred")

        if (div === 'branchInfo') {
            branchInfo.style.display = "block";
            acctPersons.style.display = "none";
            billingInfo.style.display = "none";
        }

        if (div === 'acctPersons') {
            branchInfo.style.display = "none";
            acctPersons.style.display = "block";
            billingInfo.style.display = "none";
        }
        if (div === 'billingInfo') {
            branchInfo.style.display = "none";
            acctPersons.style.display = "none";
            billingInfo.style.display = "block";
        }

        if (div === 'companies') {
            c.style.display = "block";
            b.style.display = "none";
            u.style.display = "none";
        }

        if (div === 'branches') {
            c.style.display = "none";
            b.style.display = "block";
            u.style.display = "none";
        }

        if (div === 'users') {
            c.style.display = "none";
            b.style.display = "none";
            u.style.display = "block";
        }

        if (div === "userInfo") {
            userInfo.style.display = "block";
            jcred.style.display = "none";
        }

        if (div === "jcred") {
            userInfo.style.display = "none";
            jcred.style.display = "block";
        }

    }

    $(function () {
        $('.js-check-all').on('click', function () {
            if ($(this).prop('checked')) {
                $('.control--checkbox input[type="checkbox"]').each(function () {
                    $(this).prop('checked', true);
                    $(this).closest('tr').addClass('active');
                })
            } else {
                $('.control--checkbox input[type="checkbox"]').each(function () {
                    $(this).prop('checked', false);
                    $(this).closest('tr').removeClass('active');
                })
            }
        });
        $('.control--checkbox input[type="checkbox"]').on('click', function () {
            if ($(this).closest('tr').hasClass('active')) {
                $(this).closest('tr').removeClass('active');
            } else {
                $(this).closest('tr').addClass('active');
            }
        });
    });
    var myCustomScrollbar = document.querySelector('.my-custom-scrollbar');
    var ps = new PerfectScrollbar(myCustomScrollbar);
    var scrollbarY = myCustomScrollbar.querySelector('.ps__rail-y');
    myCustomScrollbar.onscroll = function () {
        scrollbarY.style.cssText =
            `top: ${this.scrollTop}px!important; height: 400px; right: ${-this.scrollLeft}px`;
    };

      var tab = [];
    // removing duplicates

    function removeDup(data) {
        return data.filter((value, index) => data.indexOf(value) === index);
    }

    // Parse the serialized data back into an array of objects

    tab = JSON.parse(localStorage.getItem('tabs')) || [];

    // push the new data into the array

    tab.push('USER MANAGEMENT');

    tab = removeDup(tab);

    // Re-serialize the array back into a string and store it in localStorage

    localStorage.setItem('tabs', JSON.stringify(tab));

    var container = document.getElementById('tabs-div');

    console.log('test');

    for (var i = 0; i < tab.length; i++) {
       const txt = tab[i];
       console.log('txt: ', txt);
       const new_tabs = "<div class='tabs-btn' onClick='tes()' id='tabs-btn'><span class='tab-txt'>"+ txt +"</span>";
       container.insertAdjacentHTML("beforeend", new_tabs);
    };

    function tes() {

        tab_d = $(event.target).text();
        if (tab_d === "CSI Person Records") {

            window.location.href = "@Url.Action("CSIPersonalRecords", "Individual")";
        } else if (tab_d === "CIPC Company Search") {

            window.location.href = "@Url.Action("CIPCCompany", "Home")";
        } else if (tab_d === "Deeds Office Records Individual") {

            window.location.href = "@Url.Action("DeedsOfficeRecordsIndividual", "Individual")";
        } else if (tab_d === "CSI Company Records") {
            window.location.href = "@Url.Action("CSICompanyRecords", "Home")";

        } else if (tab_d === "Combined Consumer Trace") {

            window.location.href = "@Url.Action("CombinedConsumerTrace", "Credit")";
        } else if (tab_d === "Combined Credit Report") {

            window.location.href = "@Url.Action("CombinedCreditReport", "Credit")";

            //// ====  CompuScan  =====////
        } else if (tab_d === "Bank Codes Document") {
            window.location.href = "@Url.Action("CompuScanBankCodesDocument", "Credit")";
        } else if (tab_d === "Bank On File") {

            window.location.href = "@Url.Action("CompuScanBankOnFile", "Credit")";
        } else if (tab_d === "Consumer Profile") {

            window.location.href = "@Url.Action("CompuScanConsumerProfile", "Credit")";
        } else if (tab_d === "Consumer Trace") {
            window.location.href = "@Url.Action("CompuScanConsumerTrace", "Credit")";

        } else if (tab_d === "Contact Information") {

            window.location.href = "@Url.Action("CompuScanContactInformation", "Credit")";
        } else if (tab_d === "Employment Confidence Index") {

            window.location.href = "@Url.Action("CompuScanEmploymentConfidenceIndex", "Credit")";
        } else if (tab_d === "Gross Monthly Income By ID Number") {
            window.location.href = "@Url.Action("CompuScanGrossMonthlyIncomeByIDNumber", "Credit")";

        } else if (tab_d === "ID Photo Verification") {

            window.location.href = "@Url.Action("CompuScanIDPhotoVerification", "Credit")";
        } else if (tab_d === "Experian Consumer Profile") {
            window.location.href = "@Url.Action("ExperianConsumerProfile", "Credit")";
            //// ====  TransUnion   =====////
        } else if (tab_d === "TransUnion Company Profile") {

            window.location.href = "@Url.Action("TransUnionCompanyProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Contact Information") {

            window.location.href = "@Url.Action("TransUnionConsumerContactInformation", "Credit")";
        } else if (tab_d === "TransUnion Consumer ID Verification") {

            window.location.href = "@Url.Action("TransUnionConsumerIDVerification", "Credit")";
        } else if (tab_d === "TransUnion Consumer Profile") {
            window.location.href = "@Url.Action("TransUnionConsumerProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Trace") {

            window.location.href = "@Url.Action("TransUnionConsumerTrace", "Credit")";
            //// ====  veriCred   =====////
        } else if (tab_d === "VeriCred Account Verification") {

            window.location.href = "@Url.Action("VeriCredAccountVerification", "Credit")";
        } else if (tab_d === "VeriCred Consumer Profile") {
            window.location.href = "@Url.Action("VeriCredConsumerProfile", "Credit")";

        } else if (tab_d === "VeriCred Contact Info By ID Number") {

            window.location.href = "@Url.Action("VeriCredContactInfoByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred ID Photo Verification") {

            window.location.href = "@Url.Action("VeriCredIDPhotoVerification", "Credit")";
        } else if (tab_d === "VeriCred Income Estimate By ID Number") {
            window.location.href = "@Url.Action("VeriCredIncomeEstimateByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred Person Verification By ID Number") {
            window.location.href = "@Url.Action("VeriCredPersonVerificationByIDNumber", "Credit")";
            //// ==== XDS   =====////
        } else if (tab_d === "XDS Consumer ID Verification") {
            window.location.href = "@Url.Action("XDSConsumerIDVerification", "Credit")";
        } else if (tab_d === "XDS Consumer Trace") {
            window.location.href = "@Url.Action("XDSConsumerTrace", "Credit")";
            //// ==== Search   =====////
        } else if (tab_d === "SEARCH HISTORY") {
            window.location.href = "@Url.Action("SearchHistory", "UserManagement")";
        } else if (tab_d === "USER MANAGEMENT") {
            //  window.location.href = "@Url.Action("UserManagementHome", "UserManagement")";
        }

        console.log($(event.target).text());
    }


        $(function () {
            $('.raw_click').click(function () {
                var id = $(this).data('assigned-id');
                var route = '@Url.Action("ViewTest", "Home")?id=' + id;
                $('#partial').load(route);
            });

        });

</script>