@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.PersonInformation>

@{
    ViewBag.Title = "Combined Consumer Trace";
}



<div class="col-md-10 col-sm-10">
    <div class="row tabs-row" id="tabs-div">


        @*</div><span class="none" id="tabs-close">x</span>*@

    </div>

    <div class="sea_bar">
        <label>Search History</label>
        <input name="search" />
        <button>RESET</button>
    </div>
    <div class="con">
        <div class="col-md-6 col-sm-6 left">
            @using (Html.BeginForm("CombinedConsumerTraceResults", "Credit", FormMethod.Post))
            {
                <div class="ref">
                    <label>Reference</label><br>

                    @Html.TextBox("Reference", null, new { @id = "Ref" })
                </div>
                @*<div class="eqType">
                        <label>CIPC Search By</label><br>

                        @Html.DropDownList("CipcSearchBy", new List<SelectListItem>
                    {

                          new SelectListItem { Text = "Exact Matcht", Value = "1"},
                          new SelectListItem { Text = "Contains", Value = "2"},
                          new SelectListItem { Text = "Starts With", Value = "3"},
                          new SelectListItem { Text = "By Registration Number", Value = "4"}
                    }, " Select CIPC Search Parameter", new { @id = "eqtype", required = "required" })
                    </div>*@
                @*<div class="seaType">
                        <label>Search Criteria</label><br>

                        @Html.DropDownList("seatype", new List<SelectListItem>
                    {

                          new SelectListItem { Text = "Name", Value = "name"},
                          new SelectListItem { Text = "ID Number", Value = "idnumber"},
                          new SelectListItem { Text = "Name and ID Number", Value = "nameandidnumber"},

                    }, "Please Select", new { @id = "seatype", required = "required" })

                    </div>*@
                <div class="firstname" style="top: 96px;">
                    <label>ID Number</label><br>

                    @Html.TextBox("IDNumber", null, new { @id = "FirstName", minlength = "3", maxlength = "13" })
                </div>
                @*<div class="surname">
                        <label>Registration Number</label><br>

                        @Html.TextBox("RegistrationNumber", null, new { @id = "Surname", minlength = "3", maxlength = "30" })
                    </div>*@

                @*<div class="idnumber">
                        <label>ID Number</label><br>

                        @Html.TextBox("IDNumber", null, new { @id = "IDNumber", minlength = "13", maxlength = "13" })
                    </div>*@

                <div class="tc">
                    <div>
                        I accept the <a href="#">terms and conditions</a>
                        <input id="tc" type="checkbox" value="tc" required />
                    </div>
                </div>

                <button onclick="Search()" id="combinedComSearch" class="btn" name="combinedComSearch">Perform Search</button>


            }



        </div>
        <div class="col-md-6 col-sm-6 right">
            <div class="cen_text">
                Obtain the consumer trace details of an individual comprising of address, contact or employment history.
                For more information about this repost please download the sample report. <br><br>
                Please note : Tracing should only be utilised to locate debtors! Please not that the result will automatically be deleted on the specified "Expiry Date" as displayed and located in the NCR Searches tab per NCR regulation.
            </div>
        </div>
    </div>
</div>

<script>
    function Search() {
                        $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("GetCompanyResults", "Home")',
                                data: {
                                    companyName: $('#comName').val(),

                                },
                            dataType: "text",
                                error: function (result) {
                                    alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Account Created </div>';

                                    $(".resturn-message").html(alertMessage)





                            },
                                success: function (result) {

                             var alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Right Usename/Password</div>';

                                    $(".resturn-message").html(alertMessage)

                                    //alert(result.user_type);

                                    debugger;



                          if (result.status == true) {

                                        if (result.user_type === "client") {

                                            console.log(result);

                                            window.location.href = '@Url.Action("SubmissionStep2", "Checks")';

                                        }
                                        else if (result.user_type === "admin") {
                                             window.location.href = '@Url.Action("Admin_S", "Dashboard")';
                                        }


                            }
                            else {

                                var alertMessage = '<div class="alert alert-danger" role="alert">'
                                    + 'Invalid Usename/Password</div>';

                                $(".resturn-message").html(alertMessage)

                                alert(result.message);
                            }
                            }
                        });
    }

    var tab = [];
    // removing duplicates

    function removeDup(data) {
        return data.filter((value, index) => data.indexOf(value) === index);
    }

    // Parse the serialized data back into an array of objects

    tab = JSON.parse(localStorage.getItem('tabs')) || [];



    // push the new data into the array


    tab.push('Combined Consumer Trace');



    tab = removeDup(tab);


    // Re-serialize the array back into a string and store it in localStorage

    localStorage.setItem('tabs', JSON.stringify(tab));


    var container = document.getElementById('tabs-div');

    console.log('test');

    for (var i = 0; i < tab.length; i++) {
       const txt = tab[i];
       console.log('txt: ', txt);
       const new_tabs = "<div class='tabs-btn' onClick='tes()' id='tabs-btn'><span class='tab-txt'>"+ txt +"</span>";
       container.insertAdjacentHTML("beforeend", new_tabs);
    };


    function tes() {

        tab_d = $(event.target).text();
        if (tab_d === "CSI Person Records") {

            window.location.href = "@Url.Action("CSIPersonalRecords", "Individual")";
        } else if (tab_d === "CIPC Company Search") {

                window.location.href = "@Url.Action("CIPCCompany", "Home")";
        } else if (tab_d === "Deeds Office Records Individual") {

                window.location.href = "@Url.Action("DeedsOfficeRecordsIndividual", "Individual")";
       } else if (tab_d === "CSI Company Records") {
            window.location.href = "@Url.Action("CSICompanyRecords", "Home")";

        } else if (tab_d === "Combined Consumer Trace") {

           // window.location.href = "@Url.Action("CombinedConsumerTrace", "Credit")";
        } else if (tab_d === "Combined Credit Report") {

            window.location.href = "@Url.Action("CombinedCreditReport", "Credit")";

//// ====  CompuScan  =====////
        } else if (tab_d === "Bank Codes Document") {
             window.location.href = "@Url.Action("CompuScanBankCodesDocument", "Credit")";
        } else if (tab_d === "Bank On File") {

            window.location.href = "@Url.Action("CompuScanBankOnFile", "Credit")";
        } else if (tab_d === "Consumer Profile") {

            window.location.href = "@Url.Action("CompuScanConsumerProfile", "Credit")";
        } else if (tab_d === "Consumer Trace") {
            window.location.href = "@Url.Action("CompuScanConsumerTrace", "Credit")";

        } else if (tab_d === "Contact Information") {

            window.location.href = "@Url.Action("CompuScanContactInformation", "Credit")";
        } else if (tab_d === "Employment Confidence Index") {

            window.location.href = "@Url.Action("CompuScanEmploymentConfidenceIndex", "Credit")";
        } else if (tab_d === "Gross Monthly Income By ID Number") {
            window.location.href = "@Url.Action("CompuScanGrossMonthlyIncomeByIDNumber", "Credit")";

        } else if (tab_d === "ID Photo Verification") {

            window.location.href = "@Url.Action("CompuScanIDPhotoVerification", "Credit")";
        } else if (tab_d === "Experian Consumer Profile") {
            window.location.href = "@Url.Action("ExperianConsumerProfile", "Credit")";
//// ====  TransUnion   =====////
        } else if (tab_d === "TransUnion Company Profile") {

            window.location.href = "@Url.Action("TransUnionCompanyProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Contact Information") {

            window.location.href = "@Url.Action("TransUnionConsumerContactInformation", "Credit")";
        } else if (tab_d === "TransUnion Consumer ID Verification") {

            window.location.href = "@Url.Action("TransUnionConsumerIDVerification", "Credit")";
        } else if (tab_d === "TransUnion Consumer Profile") {
             window.location.href = "@Url.Action("TransUnionConsumerProfile", "Credit")";
        } else if (tab_d === "TransUnion Consumer Trace") {

            window.location.href = "@Url.Action("TransUnionConsumerTrace", "Credit")";
//// ====  veriCred   =====////
        } else if (tab_d === "VeriCred Account Verification") {

            window.location.href = "@Url.Action("VeriCredAccountVerification", "Credit")";
        } else if (tab_d === "VeriCred Consumer Profile") {
            window.location.href = "@Url.Action("VeriCredConsumerProfile", "Credit")";

        } else if (tab_d === "VeriCred Contact Info By ID Number") {

            window.location.href = "@Url.Action("VeriCredContactInfoByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred ID Photo Verification") {

            window.location.href = "@Url.Action("VeriCredIDPhotoVerification", "Credit")";
        } else if (tab_d === "VeriCred Income Estimate By ID Number") {
             window.location.href = "@Url.Action("VeriCredIncomeEstimateByIDNumber", "Credit")";
        } else if (tab_d === "VeriCred Person Verification By ID Number") {
            window.location.href = "@Url.Action("VeriCredPersonVerificationByIDNumber", "Credit")";
//// ==== XDS   =====////
        } else if (tab_d === "XDS Consumer ID Verification") {
             window.location.href = "@Url.Action("XDSConsumerIDVerification", "Credit")";
        } else if (tab_d === "XDS Consumer Trace") {
             window.location.href = "@Url.Action("XDSConsumerTrace", "Credit")";
//// ==== Search   =====////
        } else if (tab_d === "SEARCH HISTORY") {
             window.location.href = "@Url.Action("SearchHistory", "UserManagement")";
        } else if (tab_d === "USER MANAGEMENT") {
             window.location.href = "@Url.Action("UserManagementHome", "UserManagement")";
        }

        console.log($(event.target).text());
    };


</script>