@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.PersonInformation>

@{
    ViewBag.Title = "Combined Consumer Trace";
}

<div class="col-md-10 col-sm-10">
    <div class="sea non">SEARCH RESULTS</div>
    <div class="sea non">Combined Consumer Trace</div>
    <div class="sea act">@ViewData["refe"]</div>
    <div class="con2">
        @if (@ViewData["Message"].ToString() == "Service is offline" || 
            @ViewData["Message"].ToString() == "Branch defined search limit has been reached.")
        {
        <div>@ViewData["Message"].ToString()</div>
         <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
            
            
            }
        else
        {
            <div class="left_col">
                <div class="results">
                    <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                    <p>2 Results</p>
                </div>
                <p class="num">@ViewData["refe"]</p>
                <p class="num2">Combined Consumer Trace</p>

                <div class="multi non">
                    Multiple Results
                </div>
                <div class="multi act">
                    Detailed Information
                </div>

                <div class="seaInfo">
                    Search Information
                </div>

                <div class="userInfo">
                    <p class="">User:<span>@ViewData["user"]</span></p>
                    <p class="">Date:<span>@ViewData["date"] </span></p>
                    <p class="">Reference:<span>@ViewData["ref"]</span></p>
                    <p class="">Request:<br /><span>@ViewData["ResponseMessage"]</span></p>
                </div>
            </div>
            <div class="right_col">
                <div id="notification" class="seaRes">
                    NCR NOTIFICATION <span id="plusNot" class="coll"><i class="fas fa-plus"></i></span><span id="minusNot" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                <div class="not">
                    Please note that the search results will automatically be deleted with in 48hours as per NCR regulations.
                    We recommend downloading/exporting a PDF or EXCEL copy of this search and storing it locally.<br>
                    <!--                                Click on In the top <p class="expt"></p> in the top left corner to download/export this search.-->
                </div>

                <div id="notification" class="seaRes">
                    CompuScan <span id="plusSeaInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusSeaInfo" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                @if (@ViewData["Message"].ToString() == "good" && @ViewData["CompuScanMessage"].ToString() == "Found")
                {
                    <div class="SeaInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="PI" style="border: none; cursor:pointer;" colspan="2">Person Information</th>
                                </tr>
                            </thead>
                            <tbody id="PIT" style="display:none;">
                                <tr>
                                    <td colspan="2">Date of Birth</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanDateOfBirth"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">First Name</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Surname</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanSurname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fullname</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanFullname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">ID Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanIDNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Gender</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanGender"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Age</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanAge"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name 1</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanMiddleName1"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name 2</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanMiddleName2"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Has Properties</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanHasProperties"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="SeaInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HAI" style="border: none; cursor:pointer;" colspan="2">Home Affairs Information</th>
                                </tr>
                            </thead>
                            <tbody id="HAIT" style="display:none;">
                                <tr>
                                    <td colspan="2">Deceased Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanDeceasedStatus"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Deceased Date</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanDeceasedDate"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cause of Death</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanCauseOfDeath"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Verified Date</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanVerifiedDate"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Verified Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanVerifiedStatus"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="SeaInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="CI" style="border: none; cursor:pointer;" colspan="2">Credit Information</th>
                                </tr>
                            </thead>
                            <tbody id="CIT" style="display:none;">
                                <tr>
                                    <td colspan="2">Protective Verification</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanProtectiveVerification"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="SeaInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HI" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="HIT" class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="add" style="border: none; cursor:pointer;" colspan="2">Address History</th>
                                </tr>
                            </thead>
                            <tbody id="addT" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="colspaceHeading">Code Type</div>
                                        <div class="colspaceHeading">Line 1</div>
                                        <div class="colspaceHeading">Line 2</div>
                                        <div class="colspaceHeading">Line 3</div>
                                        <div class="colspaceHeading">Line 4</div>
                                        <div class="colspaceHeading">Postal Code</div>
                                        <div class="colspaceHeading">Last Updated</div>

                                        @foreach (var key in ViewBag.ArrayList)
                                        {
                                            <div class="colspace"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th id="tel" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                                </tr>
                            </thead>
                            <tbody id="telT" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="col_headerTel">Type</div>
                                        <div class="col_headerTel">Number</div>
                                        <div class="col_headerTel">Last Updated Date</div>
                                        @foreach (var key in ViewBag.TelArrayList)
                                        {
                                            <div class="colspaceTel"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th id="em" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                                </tr>
                            </thead>
                            <tbody id="emT" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="col_headerTel">Employer Name</div>
                                        <div class="col_headerTel">Designation</div>
                                        <div class="col_headerTel">Last Updated Date</div>
                                        @foreach (var key in ViewBag.EMArrayList)
                                        {
                                            <div class="colspaceTel"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @*<div style="display:none;" id="addT">

                                <div class="thatrow">
                                    <div class="col_header">Code Type</div>
                                    <div class="col_header">Line 1</div>
                                    <div class="col_header">Line 2</div>
                                    <div class="col_header">Line 3</div>
                                    <div class="col_header">Line 4</div>
                                    <div class="col_header">Postal Code</div>
                                    <div class="col_header">Last Updated Date</div>

                                    @foreach (var key in ViewBag.ArrayList)
                                    {
                                        <div class="colspace"> @key.Value</div>
                                    }
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody id="CIT" style="display:none;">
                                    </tbody>
                                </table>
                            </div>

                            <div style="display:none;" id="telT">
                                <div class="thatrow">
                                    <div class="col_headerTel">Type</div>
                                    <div class="col_headerTel">Number</div>
                                    <div class="col_headerTel">Last Updated Date</div>

                                    @foreach (var key in ViewBag.TelArrayList)
                                    {
                                        <div class="colspaceTel"> @key.Value</div>
                                    }
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody id="CIT" style="display:none;">
                                    </tbody>
                                </table>
                            </div>

                            <div style="display:none;" id="emT">

                                <div class="thatrow">
                                    <div class="col_headerTel">Employer Name</div>
                                    <div class="col_headerTel">Designation</div>
                                    <div class="col_headerTel">Last Updated Date</div>

                                    @foreach (var key in ViewBag.EMArrayList)
                                    {
                                        <div class="colspaceTel"> @key.Value</div>
                                    }
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody id="CIT" style="display:none;">
                                    </tbody>
                                </table>
                            </div>*@
                    </div>
                }
                else if (@ViewData["Message"].ToString() == "Service is offline")
                {
                    <div class="no_results">
                        <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                        <div class="no_res">
                            @ViewData["Message2"]
                        </div>
                    </div>

                }

                <div id="notification" class="seaRes">
                    TransUnion <span id="plusPerInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusPerInfo" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                @if (@ViewData["Message"].ToString() == "good" && @ViewData["TransUnionMessage"].ToString() == "Found")
                {
                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="PIU" style="border: none; cursor:pointer;" colspan="2">Person Information</th>
                                </tr>
                            </thead>
                            <tbody id="PITU" style="display:none;">

                                <tr>
                                    <td colspan="2">Information Date</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoInformationDate"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Person Date</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoPersonID"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Title</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoTitle"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Date of Birth</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoDateOfBirth"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">First Name</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Surname</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoSurname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fullname</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoFullname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">ID Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoIDNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Marital Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoMaritalStatus"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Gender</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoGender"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Age</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoAge"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name 1</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoMiddleName1"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name 2</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoMiddleName2"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Deceased Date</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoDeceasedDate"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Deceased Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoDeceasedStatus"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Spouse First Name </td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoSpouseFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Spouse First Name </td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoSpouseFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Spouse Surname</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoSpouseSurname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Number Of Dependants</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoNumberOfDependants"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Has Properties</td>
                                    <td style="border: none;" colspan="4">@ViewData["CompuScanHasProperties"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HAIU" style="border: none; cursor:pointer;" colspan="2">Contact Information</th>
                                </tr>
                            </thead>
                            <tbody id="HAITU" style="display:none;">
                                <tr>
                                    <td colspan="2">Email Address</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoEmailAddress"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Mobile Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoMobileNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Home Telephone Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoHomeTelephoneNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Work Telephone Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoWorkTelephoneNumber"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HIU" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                                </tr>
                            </thead>
                        </table>
                        <table style="display:none;" id="HITU" class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="addU" style="border: none; cursor:pointer;" colspan="2">Address History</th>
                                </tr>
                                <tr>
                                    <th id="telU" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                                </tr>
                                <tr>
                                    <th id="emU" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                                </tr>
                            </thead>
                        </table>
                        <div style="display:none;" id="addTU">
                            <div class="thatrow">
                                <div class="col_header">Code Type</div>
                                <div class="col_header">Line 1</div>
                                <div class="col_header">Line 2</div>
                                <div class="col_header">Line 3</div>
                                <div class="col_header">Line 4</div>
                                <div class="col_header">Postal Code</div>
                                <div class="col_header">Last Updated Date</div>

                                @foreach (var key in ViewBag.ArrayList)
                                {
                                    <div class="colspace"> @key.Value</div>
                                }
                            </div>
                            <table class="table table-striped">
                                <thead>
                                </thead>
                                <tbody id="CITU" style="display:none;">
                                </tbody>
                            </table>
                        </div>

                        <div style="display:none;" id="telTU">

                            <div class="thatrow">
                                <div class="col_headerTel">Type</div>
                                <div class="col_headerTel">Number</div>
                                <div class="col_headerTel">Last Updated Date</div>

                                @foreach (var key in ViewBag.TelArrayList)
                                {
                                    <div class="colspaceTel"> @key.Value</div>
                                }
                            </div>
                            <table class="table table-striped">
                                <thead>
                                </thead>
                                <tbody id="CITU" style="display:none;">
                                </tbody>
                            </table>
                        </div>

                        <div style="display:none;" id="emTU">

                            <div class="thatrow">
                                <div class="col_headerTel">Employer Name</div>
                                <div class="col_headerTel">Designation</div>
                                <div class="col_headerTel">Last Updated Date</div>

                                @foreach (var key in ViewBag.EMArrayList)
                                {
                                    <div class="colspaceTel"> @key.Value</div>
                                }
                            </div>
                            <table class="table table-striped">
                                <thead>
                                </thead>
                                <tbody id="CIT" style="display:none;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else if (@ViewData["Message"].ToString() == "Service is offline")
                {
                    <div class="no_results">
                        <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                        <div class="no_res">
                            @ViewData["Message2"]
                        </div>
                    </div>

                }

                <div id="notification" class="seaRes">
                    XDS<span id="plusHomeInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusHomeInfo" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                @if (@ViewData["Message"].ToString() == "good" && @ViewData["XDSMessage"].ToString() == "Found")
                {
                    <div class="HomeInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="PIX" style="border: none; cursor:pointer;" colspan="2">Person Information</th>
                                </tr>
                            </thead>
                            <tbody id="PITX" style="display:none;">

                                <tr>
                                    <td colspan="2">Person ID</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoPersonID"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Title</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoTitle"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Date of Birth</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoDateOfBirth"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Initials</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoInitials"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">First Name</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Surname</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoSurname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fullname</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoFullname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">ID Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoIDNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Passport Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoPassportNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Marital Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoMaritalStatus"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Gender</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoGender"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Age</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoAge"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name 1</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoMiddleName1"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name 2</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoMiddleName2"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Reference</td>
                                    <td style="border: none;" colspan="4">@ViewData["TransUnionInfoReference"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Has Properties</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoHasProperties"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="HomeInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HAIX" style="border: none; cursor:pointer;" colspan="2">Home Affairs Information</th>
                                </tr>
                            </thead>
                            <tbody id="HAITX" style="display:none;">
                                <tr>
                                    <td colspan="2">Deceased Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoDeceasedStatus"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Deceased Date</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoDeceasedDate"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Verified Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoVerifiedStatus"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="HomeInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="CIX" style="border: none; cursor:pointer;" colspan="2">Credit Information</th>
                                </tr>
                            </thead>
                            <tbody id="CITX" style="display:none;">
                                <tr>
                                    <td colspan="2">Protective Verification</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoProtectiveVerification"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">SAFPS Listing</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoSAFPSListing"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Employer Fraud Verification</td>
                                    <td style="border: none;" colspan="4">@ViewData["XDSInfoEmployerFraudVerification"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="HomeInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HIX" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="HITX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="addX" style="border: none; cursor:pointer;" colspan="2">Address History</th>
                                </tr>
                            </thead>
                            <tbody id="addTX" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="colspaceHeading">Code Type</div>
                                        <div class="colspaceHeading">Line 1</div>
                                        <div class="colspaceHeading">Line 2</div>
                                        <div class="colspaceHeading">Line 3</div>
                                        <div class="colspaceHeading">Line 4</div>
                                        <div class="colspaceHeading">Postal Code</div>
                                        <div class="colspaceHeading">Updated Date</div>
                                        @foreach (var key in ViewBag.ArrayList)
                                        {
                                            <div class="colspace"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th id="telX" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                                </tr>
                            </thead>
                            <tbody id="telTX" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="col_headerTel">Type</div>
                                        <div class="col_headerTel">Number</div>
                                        <div class="col_headerTel">Last Updated Date</div>

                                        @foreach (var key in ViewBag.TelArrayList)
                                        {
                                            <div class="colspaceTel"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th id="emX" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                                </tr>
                            </thead>
                            <tbody id="emTX" style="display:none;">
                                <tr>
                                    <td>

                                        <div class="col_headerTel">Employer Name</div>
                                        <div class="col_headerTel">Designation</div>
                                        <div class="col_headerTel">Last Updated Date</div>

                                        @foreach (var key in ViewBag.EMArrayList)
                                        {
                                            <div class="colspaceTel"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else if (@ViewData["Message"].ToString() == "Service is offline")
                {
                    <div class="no_results">
                        <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                        <div class="no_res">
                            @ViewData["Message2"]
                        </div>
                    </div>

                }
                <div id="notification" class="seaRes">
                    VeriCred <span id="plusTeleHis" class="coll"><i class="fas fa-plus"></i></span><span id="minusTeleHis" class="coll"><i class="fas fa-minus"></i></span>
                </div>

                @if (@ViewData["Message"].ToString() == "good" && @ViewData["VeriCredMessage"].ToString() == "Found")
                {
                    <div class="TeleHis">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="PIV" style="border: none; cursor:pointer;" colspan="2">Person Information</th>
                                </tr>
                            </thead>
                            <tbody id="PITV" style="display:none;">
                                <tr>
                                    <td colspan="2">Date of Birth</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoDateOfBirth"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">First Name</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Surname</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoSurname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fullname</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoFullname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">ID Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoIDNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Gender</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoGender"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Age</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoAge"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Current Employer</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoCurrentEmployer"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="TeleHis">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HAIV" style="border: none; cursor:pointer;" colspan="2">Contact Information</th>
                                </tr>
                            </thead>
                            <tbody id="HAITV" style="display:none;">
                                <tr>
                                    <td colspan="2">Physical Address</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoPhysicalAddress"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Mobile Numnber</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoMobileNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Home Telephone Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoHomeTelephoneNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Work Telephone Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["VeriCredInfoWorkTelephoneNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="TeleHis">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HIV" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                                </tr>
                            </thead>
                        </table>
                        <table id="HITV" class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="addV" style="border: none; cursor:pointer;" colspan="2">Address History</th>
                                </tr>
                            </thead>
                            <tbody id="addTV" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="colspaceHeading">Code Type</div>
                                        <div class="colspaceHeading">Line 1</div>
                                        <div class="colspaceHeading">Line 2</div>
                                        <div class="colspaceHeading">Line 3</div>
                                        <div class="colspaceHeading">Line 4</div>
                                        <div class="colspaceHeading">Postal Code</div>
                                        <div class="colspaceHeading">Updated Date</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @foreach (var key in ViewBag.ArrayList)
                                        {
                                            <div class="colspace">@key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th id="telV" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                                </tr>
                            </thead>
                            <tbody id="telTV" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="col_headerTel">Type</div>
                                        <div class="col_headerTel">Number</div>
                                        <div class="col_headerTel">Last Updated Date</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @foreach (var key in ViewBag.TelArrayList)
                                        {
                                            <div class="colspaceTel"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th id="emV" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                                </tr>
                            </thead>
                            <tbody id="emTV" style="display:none;">
                                <tr>
                                    <td>
                                        <div class="col_headerTel">Employer Name</div>
                                        <div class="col_headerTel">Designation</div>
                                        <div class="col_headerTel">Last Updated Date</div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @foreach (var key in ViewBag.EMArrayList)
                                        {
                                            <div class="colspaceTel"> @key.Value</div>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        @*<thead style="display:none;" id="HITV" class="table table-striped">

                                <tr>
                                    <th id="telV" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                                </tr>
                                <tr>
                                    <th id="emV" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                                </tr>
                            </thead>*@
                        @*<div style="display:none;" id="addTV">
                                <div class="thatrow">
                                    <div class="col_header">Code Type</div>
                                    <div class="col_header">Line 1</div>
                                    <div class="col_header">Line 2</div>
                                    <div class="col_header">Line 3</div>
                                    <div class="col_header">Line 4</div>
                                    <div class="col_header">Postal Code</div>
                                    <div class="col_header">Last Updated Date</div>
                                    @foreach (var key in ViewBag.ArrayList)
                                    {
                                        <div class="colspace"> @key.Value</div>
                                    }
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody id="CITV" style="display:none;">
                                    </tbody>
                                </table>
                            </div>

                            <div style="display:none;" id="telTV">

                                <div class="thatrow">
                                    <div class="col_headerTel">Type</div>
                                    <div class="col_headerTel">Number</div>
                                    <div class="col_headerTel">Last Updated Date</div>

                                    @foreach (var key in ViewBag.TelArrayList)
                                    {
                                        <div class="colspaceTel"> @key.Value</div>
                                    }
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody id="CITVeriCredInfoWorkTelephoneNumber" style="display:none;">
                                    </tbody>
                                </table>
                            </div>

                            <div style="display:none;" id="emTV">

                                <div class="thatrow">
                                    <div class="col_headerTel">Employer Name</div>
                                    <div class="col_headerTel">Designation</div>
                                    <div class="col_headerTel">Last Updated Date</div>

                                    @foreach (var key in ViewBag.EMArrayList)
                                    {
                                        <div class="colspaceTel"> @key.Value</div>
                                    }
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                    </thead>
                                    <tbody id="CIT" style="display:none;">
                                    </tbody>
                                </table>
                            </div>*@
                    </div>
                }
                else if (@ViewData["Message"].ToString() == "Service is offline")
                {
                    <div class="no_results">
                        <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                        <div class="no_res">
                            @ViewData["Message2"]
                        </div>
                    </div>
                }
            </div>

        }
    </div>
</div>

<script>

    //CompScan
    $("#PI").click(function () {
        $("#PIT").toggle();
    });
    $("#HAI").click(function () {
        $("#HAIT").toggle();
    });
    $("#CI").click(function () {
        $("#CIT").toggle();
    });

    $("#HI").click(function () {
        $("#HIT").toggle();
    });

    $("#add").click(function () {
        $("#addT").toggle();
    });

    $("#tel").click(function () {
        $("#telT").toggle();
    });

    $("#em").click(function () {
        $("#emT").toggle();
    });

    //TransUnion
    $("#PIU").click(function () {
        $("#PITU").toggle();
    });
    $("#HAIU").click(function () {
        $("#HAITU").toggle();
    });
    $("#CIU").click(function () {
        $("#CITU").toggle();
    });

    $("#HIU").click(function () {
        $("#HITU").toggle();
    });

    $("#addU").click(function () {
        $("#addTU").toggle();
    });

    $("#telU").click(function () {
        $("#telTU").toggle();
    });

    $("#emU").click(function () {
        $("#emTU").toggle();
    });

    //XDS
    $("#PIX").click(function () {
        $("#PITX").toggle();
    });
    $("#HAIX").click(function () {
        $("#HAITX").toggle();
    });
    $("#CIX").click(function () {
        $("#CITX").toggle();
    });

    $("#HIX").click(function () {
        $("#HITX").toggle();
    });

    $("#addX").click(function () {
        $("#addTX").toggle();
    });

    $("#telX").click(function () {
        $("#telTX").toggle();
    });

    $("#emX").click(function () {
        $("#emTX").toggle();
    });

    //VeriCred
    $("#PIV").click(function () {
        $("#PITV").toggle();
    });
    $("#HAIV").click(function () {
        $("#HAITV").toggle();
    });
    $("#CIV").click(function () {
        $("#CITV").toggle();
    });

    $("#HIV").click(function () {
        $("#HITV").toggle();
    });

    $("#addV").click(function () {
        $("#addTV").toggle();
    });

    $("#telV").click(function () {
        $("#telTV").toggle();
    });

    $("#emV").click(function () {
        $("#emTV").toggle();
    });

    $(document).ready(function () {
        $(".not").hide();
        $("#minusNot").hide();

        $('#plusNot').on('click', function () {
            $(".not").show();
            $("#minusNot").show();
            $("#plusNot").hide();

        });

        $('#minusNot').on('click', function () {
            $("#minusNot").hide();
            $("#plusNot").show();
            $(".not").hide();

        });

        $("#minusSeaInfo").hide();
        $(".SeaInfo").hide();

        $('#plusSeaInfo').on('click', function () {
            $(".SeaInfo").show();
            $("#minusSeaInfo").show();
            $("#plusSeaInfo").hide();

        });

        $('#minusSeaInfo').on('click', function () {
            $("#minusSeaInfo").hide();
            $("#plusSeaInfo").show();
            $(".SeaInfo").hide();
        });

        $("#minusPerInfo").hide();
        $(".PerInfo").hide();

        $('#plusPerInfo').on('click', function () {
            $(".PerInfo").show();
            $("#minusPerInfo").show();
            $("#plusPerInfo").hide();

        });

        $('#minusPerInfo').on('click', function () {
            $("#minusPerInfo").hide();
            $("#plusPerInfo").show();
            $(".PerInfo").hide();
        });

        $("#minusHomeInfo").hide();
        $(".HomeInfo").hide();

        $('#plusHomeInfo').on('click', function () {
            $(".HomeInfo").show();
            $("#minusHomeInfo").show();
            $("#plusHomeInfo").hide();

        });

        $('#minusHomeInfo').on('click', function () {
            $("#minusHomeInfo").hide();
            $("#plusHomeInfo").show();
            $(".HomeInfo").hide();
        });

        $("#minusTeleHis").hide();
        $(".TeleHis").hide();

        $('#plusTeleHis').on('click', function () {
            $(".TeleHis").show();
            $("#minusTeleHis").show();
            $("#plusTeleHis").hide();

        });

        $('#minusTeleHis').on('click', function () {
            $("#minusTeleHis").hide();
            $("#plusTeleHis").show();
            $(".TeleHis").hide();
        });

        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });

    });
</script>