@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.PersonInformation>

@{
    ViewBag.Title = "ExperianConsumerProfile";
}

<div class="col-md-10 col-sm-10">
    @if (TempData["msg"] != null)
    {

        <div>@TempData["msg"].ToString()</div>
        <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>

    }
    else
    {
        <div class="con2">
            <div class="left_col">
                <div class="results">
                    <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                    <p>2 Results</p>
                </div>
                <p class="num">@ViewData["ExFullname"]</p>
                <p class="num2">Experian Consumer Profile</p>

                <div class="multi non">
                    Multiple Results
                </div>
                <div class="multi act">
                    Detailed Information
                </div>

                <div class="seaInfo">
                    Search Information
                </div>

                <div class="userInfo">
                    <p class="">User:<span>@ViewData["user"]</span></p>
                    <p class="">Date:<span>@ViewData["date"] </span></p>
                    <p class="">Reference:<span>@ViewData["ref"]</span></p>
                    <p class="">Request:<br /><span>@ViewData["ResponseMessage"]</span></p>
                </div>
            </div>
            <div class="right_col">
                <div id="notification" class="seaRes">
                    NCR NOTIFICATION <span id="plusNot" class="coll"><i class="fas fa-plus"></i></span><span id="minusNot" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                <div class="not">
                    Please note that the search results will automatically be deleted with in 72hours as per NCR regulations.
                    We recommend downloading/exporting a PDF or EXCEL copy of this search and storing it locally.<br>
                    <!--                                Click on In the top <p class="expt"></p> in the top left corner to download/export this search.-->
                </div>

                <div id="notification" class="seaRes">
                    Experian <span id="plusPerInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusPerInfo" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                @if (@ViewData["Message"].ToString() == "good" && @ViewData["ResponseMessage"].ToString() == "ExperianConsumerProfile")
                {
                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="PIU" style="border: none; cursor:pointer;" colspan="2">Person Information</th>
                                </tr>
                            </thead>
                            <tbody id="PITU" style="display:none;">
                                <tr>
                                    <td colspan="2">Title</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExTitle"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Date of Birth</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExDateOfBirth"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">First Name</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExFirstName"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Middle Name</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExMiddleName1"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Surname</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExSurname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">FullName</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExFullname"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">ID Number</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExIDNumber"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Gender</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExGender"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Age</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExAge"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Marital Status</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExMaritalStatus"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Reference</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExReference"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Has Properties</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExHasProperties"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HAIU" style="border: none; cursor:pointer;" colspan="2">Home Affairs Information</th>
                                </tr>
                            </thead>
                            <tbody id="HAITU" style="display:none;">
                                <tr>
                                    <td colspan="2">ID Verified</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExIDVerified"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Surname Verified</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExSurnameVerified"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Initials Verified</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExInitialsVerified"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="CONI" style="border: none; cursor:pointer;" colspan="2">Contact Information</th>
                                </tr>
                            </thead>
                            <tbody id="CONIT" style="display:none;">
                                <tr>
                                    <td colspan="2">Physical Address</td>
                                    <td style="border: none;" colspan="4">@ViewData["ExPhysicalAddress"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="CI" style="border: none; cursor:pointer;" colspan="2">Credit Information</th>
                                </tr>
                            </thead>
                            <tbody id="CIT" style="display:none;">

                                <tr>
                                    <td colspan="2">DelphiScore</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDelphiScore"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Flag Count</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExFlagCount"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Flag Details</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExFlagDetails"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">Data Counts</th>
                                </tr>
                                <tr>
                                    <td colspan="2">Accounts</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Enquires</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExEnquiries"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Judgments</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExJudgments"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Notices</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExNotices"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Bank Defaults</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExBankDefaults"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Defaults</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDefaults"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Collections</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExCollections"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Directors</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDirectors"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Address</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExAddresses"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Telephones</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExTelephones"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Occupants</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExOccupants"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Employers</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExEmployers"] </td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Trace Alerts</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExTraceAlerts"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Payment Profiles</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExPaymentProfiles"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Own Enquires</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExOwnEnquiries"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Admin Orders</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExAdminOrders"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Possible Matches</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExPossibleMatches"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Definite Matches</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDefiniteMatches"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Loans</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Fraud Alerts</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExFraudAlerts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Companies</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExCompanies"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Properties</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExProperties"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Documents</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDocuments"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Demand Letters</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDemandLetters"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Trusts</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExTrusts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Bonds</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExBondsBonds"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Deeds</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExDeeds"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Public Defaults</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExPublicDefaults"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR Accounts</td>
                                    <td colspan="4" style="border: none;">@ViewData["ExNLRAccounts"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">Debt Review Status</th>
                                </tr>
                                <tr>
                                    <td colspan="2">Status Code</td>
                                    <td colspan="4" style="border: none;">@ViewData["DRStatusCode"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Status Description</td>
                                    <td colspan="4" style="border: none;">@ViewData["DRStatusDescription"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">Consumer Statistics</th>
                                </tr>
                                <tr>
                                    <td colspan="2">Highest Judgment</td>
                                    <td colspan="4">@ViewData["ExHighestJudgment"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Revolving Accounts</td>
                                    <td colspan="4">@ViewData["ExRevolvingAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Instalment Accounts</td>
                                    <td colspan="4">@ViewData["ExInstalmentAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Open Accounts</td>
                                    <td colspan="4">@ViewData["ExOpenAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Adverse Accounts</td>
                                    <td colspan="4">@ViewData["ExAdverseAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Percent Arrears</td>
                                    <td colspan="4">@ViewData["ExPercent0ArrearsLast12Histories"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">PPS Last 12 Months</td>
                                    <td colspan="4">@ViewData["ExNumberPPSLast12Months"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Micro loans Past 12 Months</td>
                                    <td colspan="4">@ViewData["NLRMicroloansPast12Months"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">NLR Stats</th>
                                </tr>
                                <tr>
                                    <td colspan="2">Active Accounts</td>
                                    <td colspan="4">@ViewData["ExNLRActiveAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Closed Accounts</td>
                                    <td colspan="4">@ViewData["ExNLRClosedAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Worst Month Arrears</td>
                                    <td colspan="4">@ViewData["ExNLRWorstMonthArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Balance Exposure</td>
                                    <td colspan="4">@ViewData["ExNLRBalanceExposure"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cumulative Arrears</td>
                                    <td colspan="4">@ViewData["ExNLRCumulativeArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">CCA Stats</th>
                                </tr>
                                <tr>
                                    <td colspan="2">Active Accounts</td>
                                    <td colspan="4">@ViewData["ExCCAActiveAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Closed Accounts</td>
                                    <td colspan="4">@ViewData["ExCCAClosedAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Worst Month Arrears</td>
                                    <td colspan="4">@ViewData["ExCCAWorstMonthArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Balance Exposure</td>
                                    <td colspan="4">@ViewData["ExCCABalanceExposure"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Cumulative Arrears</td>
                                    <td colspan="4">@ViewData["ExCCACumulativeArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">NLR 12 Months</th>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR12Months Enquiries By Client:</td>
                                    <td colspan="4">@ViewData["ExNLR12MonthsEnquiriesByClient"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR12Months Enquiries By Other:</td>
                                    <td colspan="4">@ViewData["ExNLR12MonthsEnquiriesByOther"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR12Months Positive Loans:</td>
                                    <td colspan="4">@ViewData["ExNLR12MonthsPositiveLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR12Months Highest Months In Arrears: </td>
                                    <td colspan="4">@ViewData["ExNLR12MonthsHighestMonthsInArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <th colspan="7" class="col_header">NLR 24 Months</th>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR24Months Enquiries By Client:</td>
                                    <td colspan="4">@ViewData["ExNLR24MonthsEnquiriesByClient"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR24Months Enquiries By Other:</td>
                                    <td colspan="4">@ViewData["ExNLR24MonthsEnquiriesByOther"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR24Months Positive Loans:</td>
                                    <td colspan="4">@ViewData["ExNLR24MonthsPositiveLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR24Months Highest Months In Arrears: </td>
                                    <td colspan="4">@ViewData["ExNLR24MonthsHighestMonthsInArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">NLR 36 Months</th>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR36Months Enquiries By Client:</td>
                                    <td colspan="4">@ViewData["ExNLR36MonthsEnquiriesByClient"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR36Months Enquiries By Other:</td>
                                    <td colspan="4">@ViewData["ExNLR36MonthsEnquiriesByOther"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR36Months Positive Loans:</td>
                                    <td colspan="4">@ViewData["ExNLR36MonthsPositiveLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR36Months Highest Months In Arrears:</td>
                                    <td colspan="4">@ViewData["ExNLR36MonthsHighestMonthsInArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">CCA 12 Months</th>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA12Months Enquiries By Client:</td>
                                    <td colspan="4">@ViewData["ExCCA12MonthsEnquiriesByClient"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA12Months Enquiries By Other:</td>
                                    <td colspan="4">@ViewData["ExCCA12MonthsEnquiriesByOther"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA12Months Positive Loans:</td>
                                    <td colspan="4">@ViewData["ExCCA12MonthsPositiveLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA12Months Highest Months In Arrears:</td>
                                    <td colspan="4">@ViewData["ExCCA12MonthsHighestMonthsInArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">CCA 24 Months</th>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA24Months Enquiries By Client:</td>
                                    <td colspan="4">@ViewData["ExCCA24MonthsEnquiriesByClient"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA24Months Enquiries By Other:</td>
                                    <td colspan="4">@ViewData["ExCCA24MonthsEnquiriesByOther"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA24Months Positive Loans:</td>
                                    <td colspan="4">@ViewData["ExCCA24MonthsPositiveLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA24Months Highest Months In Arrears:</td>
                                    <td colspan="4">@ViewData["ExCCA24MonthsHighestMonthsInArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <th colspan="7" class="col_header">CCA 36 Months</th>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA36Months Enquiries By Client:</td>
                                    <td colspan="4">@ViewData["ExCCA36MonthsEnquiriesByClient"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA36Months Enquiries By Other:</td>
                                    <td colspan="4">@ViewData["ExCCA36MonthsEnquiriesByOther"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA36Months Positive Loans:</td>
                                    <td colspan="4">@ViewData["ExCCA36MonthsPositiveLoans"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">CCA36Months Highest Months In Arrears:</td>
                                    <td colspan="4">@ViewData["ExCCA36MonthsHighestMonthsInArrears"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <th colspan="7" class="col_header">Enquiry History</th>
                                </tr>
                                <tr>
                                    <th colspan="2">Date</th>
                                    <th colspan="4">By</th>
                                    <th>Contact</th>
                                </tr>
                                @if (@ViewBag.EnqHIst != null)
                                {
                                    foreach (var item in @ViewBag.EnqHIst)
                                    {
                                        <tr>
                                            <td colspan="2">@item.EnquiryDate</td>
                                            <td colspan="4">@item.EnquiredBy</td>
                                            <td>@item.EnquiredByContact</td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6">No Data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="PerInfo">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th id="HI" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                                </tr>
                            </thead>
                            <tbody id="HIT" style="display:none;">
                                <tr>
                                    <th colspan="8" class="col_header">Address History</th>
                                </tr>
                                @if (@ViewBag.AddressHist != null)
                                {

                                    <tr>
                                        <th colspan="2">TypeDescription</th>
                                        <th colspan="1">Line1</th>
                                        <th colspan="1">Line2</th>
                                        <th colspan="1">Line3</th>
                                        <th colspan="1">PostalCode</th>
                                        <th colspan="1">FullAddress</th>
                                        <th colspan="1">LastUpdatedDate</th>
                                    </tr>
                                    foreach (var item in @ViewBag.AddressHist)
                                    {

                                        <tr>
                                            <td colspan="2">@item.TypeDescription</td>
                                            <td colspan="1">@item.Line1</td>
                                            <td colspan="1">@item.Line2</td>
                                            <td colspan="1">@item.Line3</td>
                                            <td colspan="1">@item.PostalCode</td>
                                            <td colspan="1">@item.FullAddress</td>
                                            <td colspan="1">@item.LastUpdatedDate</td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>

                                        <td colspan="8">No Data</td>
                                    </tr>
                                }

                                <tr>
                                    <th colspan="8" class="col_header">Telephone History</th>
                                </tr>
                                @if (@ViewBag.TelHist != null)
                                {

                                    <tr>
                                        <th colspan="2">TypeDescription</th>
                                        <th colspan="1">DialCode</th>
                                        <th colspan="1">Number</th>
                                        <th colspan="1">FullNumber</th>
                                        <th colspan="3">LastUpdatedDateTel</th>
                                    </tr>
                                    foreach (var item in @ViewBag.TelHist)
                                    {
                                        <tr>
                                            <td colspan="2">@item.TypeDescriptionTel</td>
                                            <td colspan="1">@item.DialCode</td>
                                            <td colspan="1">@item.Number</td>
                                            <td colspan="1">@item.FullNumber</td>
                                            <td colspan="3">@item.LastUpdatedDateTel</td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>

                                        <td colspan="8">No Data</td>
                                    </tr>
                                }
                                <tr>
                                    <th colspan="8" class="col_header">Employment History</th>
                                </tr>
                                @if (@ViewBag.EmpHist != null)
                                {

                                    <tr>
                                        <th colspan="4">EmployerName</th>
                                        <th colspan="4">Designation</th>
                                    </tr>

                                    foreach (var item in @ViewBag.EmpHist)
                                    {
                                        <tr>
                                            <td colspan="4">@item.EmployerName</td>
                                            <td colspan="4">@item.Designation</td>
                                        </tr>
                                    }

                                }
                                else
                                {
                                    <tr>

                                        <td colspan="8">No Data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
                else if (@ViewData["Message"].ToString() == "Service is offline")
                {
                    <div class="no_results">
                        <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                        <div class="no_res">
                            @ViewData["Message2"]
                        </div>
                    </div>

                }
            </div>
        </div>

    }
</div>

<script>

    //CompScan
    $("#PI").click(function () {
        $("#PIT").toggle();
    });
    $("#HAI").click(function () {
        $("#HAIT").toggle();
    });
    $("#CI").click(function () {
        $("#CIT").toggle();
    });

    $("#HI").click(function () {
        $("#HIT").toggle();
    });

    $("#add").click(function () {
        $("#addT").toggle();
    });

    $("#tel").click(function () {
        $("#telT").toggle();
    });
    $("#CONI").click(function () {
        $("#CONIT").toggle();
    })

    $("#em").click(function () {
        $("#emT").toggle();
    });

    //TransUnion
    $("#PIU").click(function () {
        $("#PITU").toggle();
    });
    $("#HAIU").click(function () {
        $("#HAITU").toggle();
    });
    $("#CIU").click(function () {
        $("#CITU").toggle();
    });

    $("#HIU").click(function () {
        $("#HITU").toggle();
    });

    $("#addU").click(function () {
        $("#addTU").toggle();
    });

    $("#telU").click(function () {
        $("#telTU").toggle();
    });

    $("#emU").click(function () {
        $("#emTU").toggle();
    });

    //XDS
    $("#PIX").click(function () {
        $("#PITX").toggle();
    });
    $("#HAIX").click(function () {
        $("#HAITX").toggle();
    });
    $("#CIX").click(function () {
        $("#CITX").toggle();
    });

    $("#HIX").click(function () {
        $("#HITX").toggle();
    });

    $("#addX").click(function () {
        $("#addTX").toggle();
    });

    $("#telX").click(function () {
        $("#telTX").toggle();
    });

    $("#emX").click(function () {
        $("#emTX").toggle();
    });

    //VeriCred
    $("#PIV").click(function () {
        $("#PITV").toggle();
    });
    $("#HAIV").click(function () {
        $("#HAITV").toggle();
    });
    $("#CIV").click(function () {
        $("#CITV").toggle();
    });

    $("#HIV").click(function () {
        $("#HITV").toggle();
    });

    $("#addV").click(function () {
        $("#addTV").toggle();
    });

    $("#telV").click(function () {
        $("#telTV").toggle();
    });

    $("#emV").click(function () {
        $("#emTV").toggle();
    });

    $(document).ready(function () {
        $(".not").hide();
        $("#minusNot").hide();

        $('#plusNot').on('click', function () {
            $(".not").show();
            $("#minusNot").show();
            $("#plusNot").hide();

        });

        $('#minusNot').on('click', function () {
            $("#minusNot").hide();
            $("#plusNot").show();
            $(".not").hide();

        });

        $("#minusSeaInfo").hide();
        $(".SeaInfo").hide();

        $('#plusSeaInfo').on('click', function () {
            $(".SeaInfo").show();
            $("#minusSeaInfo").show();
            $("#plusSeaInfo").hide();

        });

        $('#minusSeaInfo').on('click', function () {
            $("#minusSeaInfo").hide();
            $("#plusSeaInfo").show();
            $(".SeaInfo").hide();
        });

        $("#minusPerInfo").hide();
        $(".PerInfo").hide();

        $('#plusPerInfo').on('click', function () {
            $(".PerInfo").show();
            $("#minusPerInfo").show();
            $("#plusPerInfo").hide();

        });

        $('#minusPerInfo').on('click', function () {
            $("#minusPerInfo").hide();
            $("#plusPerInfo").show();
            $(".PerInfo").hide();
        });

        $("#minusHomeInfo").hide();
        $(".HomeInfo").hide();

        $('#plusHomeInfo').on('click', function () {
            $(".HomeInfo").show();
            $("#minusHomeInfo").show();
            $("#plusHomeInfo").hide();

        });

        $('#minusHomeInfo').on('click', function () {
            $("#minusHomeInfo").hide();
            $("#plusHomeInfo").show();
            $(".HomeInfo").hide();
        });

        $("#minusTeleHis").hide();
        $(".TeleHis").hide();

        $('#plusTeleHis').on('click', function () {
            $(".TeleHis").show();
            $("#minusTeleHis").show();
            $("#plusTeleHis").hide();

        });

        $('#minusTeleHis').on('click', function () {
            $("#minusTeleHis").hide();
            $("#plusTeleHis").show();
            $(".TeleHis").hide();
        });

        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });

    });
</script>