@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.PersonInformation>

@{
    ViewBag.Title = "TransUnion Consumer Contact Information";
}



<div class="col-md-10 col-sm-10">
    <div class="sea non">SEARCH RESULTS</div>
    <div class="sea non">Experian Consumer Profile</div>
    <div class="sea act">@ViewData["refe"]</div>
    <div class="con2">
        <div class="left_col">
            <div class="results">
                <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                <p>2 Results</p>
            </div>
            <p class="num">@ViewData["refe"]</p>
            <p class="num2">Experian Consumer Profile</p>

            <div class="multi non">
                Multiple Results
            </div>
            <div class="multi act">
                Detailed Information
            </div>

            <div class="seaInfo">
                Search Information
            </div>

            <div class="userInfo">
                <p class="">User:<span>@ViewData["user"]</span></p>
                <p class="">Date:<span>@ViewData["date"] </span></p>
                <p class="">Reference:<span>@ViewData["ref"]</span></p>
                <p class="">Request:<br /><span>@ViewData["ResponseMessage"]</span></p>

            </div>

        </div>
        <div class="right_col">
            <div id="notification" class="seaRes">
                NCR NOTIFICATION <span id="plusNot" class="coll"><i class="fas fa-plus"></i></span><span id="minusNot" class="coll"><i class="fas fa-minus"></i></span>
            </div>
            <div class="not">
                Please note that the search results will automatically be deleted with in 72hours as per NCR regulations.
                We recommend downloading/exporting a PDF or EXCEL copy of this search and storing it locally.<br>
                <!--                                Click on In the top <p class="expt"></p> in the top left corner to download/export this search.-->
            </div>

            
           

            <div id="notification" class="seaRes">
                TransUnion <span id="plusPerInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusPerInfo" class="coll"><i class="fas fa-minus"></i></span>
            </div>
            @if (@ViewData["Message"].ToString() == "good" && @ViewData["ResponseMessage"].ToString() == "NotFound")
            {
                <div class="PerInfo">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th id="PIU" style="border: none; cursor:pointer;" colspan="2">Person Information</th>

                            </tr>
                        </thead>
                        <tbody id="PITU" style="display:none;">
                            <tr>
                                <td colspan="2">Date of Birth</td>
                                <td style="border: none;" colspan="4">@ViewData["DateOfBirth"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">First Name</td>
                                <td style="border: none;" colspan="4">@ViewData["FirstName"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Surname</td>
                                <td style="border: none;" colspan="4">@ViewData["Surname"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">ID Number</td>
                                <td style="border: none;" colspan="4">@ViewData["IDNumber"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Gender</td>
                                <td style="border: none;" colspan="4">@ViewData["Gender"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Age</td>
                                <td style="border: none;" colspan="4">@ViewData["Age"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Marital Status</td>
                                <td style="border: none;" colspan="4">@ViewData["MaritalStatus"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Middle Name</td>
                                <td style="border: none;" colspan="4">@ViewData["MiddleName1"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Verification Status</td>
                                <td style="border: none;" colspan="4">@ViewData["VerificationStatus"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>


                        </tbody>
                    </table>
                </div>

                <div class="PerInfo">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th id="HAIU" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>

                            </tr>
                        </thead>
                        <tbody id="HAITU" style="display:none;">
                            <tr>
                                <td colspan="2">DelphiScore</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDelphiScore"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Flag Count</td>
                                <td style="border: none;" colspan="4">@ViewData["ExFlagCount"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Flag Details</td>
                                <td style="border: none;" colspan="4">@ViewData["ExFlagDetails"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            @*<tr>
            <td colspan="2">Risk</td>
            <td style="border: none;" colspan="4">@ViewData["ComRisk"]</td>

            <td><a class="seaMore" href="#">View more</a></td>
        </tr>*@
                            <tr>
                                <td colspan="2">Accounts</td>
                                <td style="border: none;" colspan="4">@ViewData["ExAccounts"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Enquires</td>
                                <td style="border: none;" colspan="4">@ViewData["ExEnquiries"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Judgments</td>
                                <td style="border: none;" colspan="4">@ViewData["ExJudgments"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Notices</td>
                                <td style="border: none;" colspan="4">@ViewData["ExNotices"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>
                            <tr>
                                <td colspan="2">Bank Defaults</td>
                                <td style="border: none;" colspan="4">@ViewData["ExBankDefaults"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Defaults</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDefaults"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Collections</td>
                                <td style="border: none;" colspan="4">@ViewData["ExCollections"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Directors</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDirectors"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Address</td>
                                <td style="border: none;" colspan="4">@ViewData["ExAddresses"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Telepohnes</td>
                                <td style="border: none;" colspan="4">@ViewData["ExTelephones"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Occupants</td>
                                <td style="border: none;" colspan="4">@ViewData["ExOccupants"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Employers</td>
                                <td style="border: none;" colspan="4">@ViewData["ExEmployers"] </td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Trace Alerts</td>
                                <td style="border: none;" colspan="4">@ViewData["ExTraceAlerts"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Payment Profiles</td>
                                <td style="border: none;" colspan="4">@ViewData["ExPaymentProfiles"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Own Enquires</td>
                                <td style="border: none;" colspan="4">@ViewData["ExOwnEnquiries"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Admin Orders</td>
                                <td style="border: none;" colspan="4">@ViewData["ExAdminOrders"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Possible Matches</td>
                                <td style="border: none;" colspan="4">@ViewData["ExPossibleMatches"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Definite Matches</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDefiniteMatches"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Loans</td>
                                <td style="border: none;" colspan="4">@ViewData["ExLoans"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Fraud Alerts</td>
                                <td style="border: none;" colspan="4">@ViewData["ExFraudAlerts"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Companies</td>
                                <td style="border: none;" colspan="4">@ViewData["ExCompanies"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Properties</td>
                                <td style="border: none;" colspan="4">@ViewData["ExProperties"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Documents</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDocuments"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Demand Letters</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDemandLetters"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Trusts</td>
                                <td style="border: none;" colspan="4">@ViewData["ExTrusts"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Bonds</td>
                                <td style="border: none;" colspan="4">@ViewData["ExBondsBonds"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Deeds</td>
                                <td style="border: none;" colspan="4">@ViewData["ExDeeds"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Public Defaults</td>
                                <td style="border: none;" colspan="4">@ViewData["ExPublicDefaults"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">NLR Accounts</td>
                                <td style="border: none;" colspan="4">@ViewData["ExNLRAccounts"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>

                            <tr>
                                <td colspan="2">Application Date</td>
                                <td style="border: none;" colspan="4">@ViewData["ExApplicationDate"]</td>

                                <td><a class="seaMore" href="#">View more</a></td>
                            </tr>


                        </tbody>
                    </table>
                </div>

                <div class="PerInfo">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th id="CIU" style="border: none; cursor:pointer;" colspan="2">Consumer Statistics</th>

                            </tr>
                        </thead>
                        <tbody id="">
                        </tbody>
                    </table>
                    <div id="CITU" class="row com" style="display:none;">
                        <div class="col-md-4 col-sm-4 " style="padding-left: 20px;">
                            <p><b>Highest Judgment: </b>@ViewData["ExHighestJudgment"]</p>
                            <p><b>Revolving Accounts: </b>@ViewData["ExRevolvingAccounts"]</p>
                            <p><b>Instalment Accounts: </b>@ViewData["ExInstalmentAccounts"]</p>
                            <p><b>Adverse Accounts: </b>@ViewData["ExAdverseAccounts"]</p>
                            <p><b>Open Accounts: </b>@ViewData["ExOpenAccounts"]</p>
                        </div>

                        <div class="col-md-4 col-sm-4 ">
                            <h5> NLR Stats</h5>
                            <p><b>Active Accounts: </b>@ViewData["ExNLRActiveAccounts"]</p>
                            <p><b>Closed Accounts: </b>@ViewData["ExNLRClosedAccounts"]</p>
                            <p><b>Worst Month Arrears: </b>@ViewData["ExNLRWorstMonthArrears"]</p>
                            <p><b>Balance Exposure: </b>@ViewData["ExNLRBalanceExposure"]</p>
                            <p><b>Cumulative Arrears: </b>@ViewData["ExNLRCumulativeArrears"]</p>
                            <hr />
                            <h5> NLR 12 Months</h5>
                            <p><b>Enquiries By Client: </b>@ViewData["ExNLR12MonthsEnquiriesByClient"]</p>
                            <p><b>Enquiries By Other: </b>@ViewData["ExNLR12MonthsEnquiriesByOther"]</p>
                            <p><b>Postive Loans: </b>@ViewData["ExNLR12MonthsPositiveLoans"]</p>
                            <p><b>Highest Months In Arrears: </b>@ViewData["ExNLR12MonthsHighestMonthsInArrears"]</p>
                            <hr />
                            <h5> NLR 24 Months</h5>
                            <p><b>Enquiries By Client: </b>@ViewData["ExNLR24MonthsEnquiriesByClient"]</p>
                            <p><b>Enquiries By Other: </b>@ViewData["ExNLR24MonthsEnquiriesByOther"]</p>
                            <p><b>Postive Loans: </b>@ViewData["ExNLR24MonthsPositiveLoans"]</p>
                            <p><b>Highest Months In Arrears: </b>@ViewData["ExNLR24MonthsHighestMonthsInArrears"]</p>
                            <hr />
                            <h5> NLR 36 Months</h5>
                            <p><b>Enquiries By Client: </b>@ViewData["ExNLR36MonthsEnquiriesByClient"]</p>
                            <p><b>Enquiries By Other: </b>@ViewData["ExNLR36MonthsEnquiriesByOther"]</p>
                            <p><b>Postive Loans: </b>@ViewData["ExNLR36MonthsPositiveLoans"]</p>
                            <p><b>Highest Months In Arrears: </b>@ViewData["ExNLR36MonthsHighestMonthsInArrears"]</p>

                        </div>

                        <div class="col-md-4 col-sm-4 ">
                            <h5> CCA Stats</h5>
                            <p><b>Active Accounts: </b>@ViewData["ExCCAActiveAccounts"]</p>
                            <p><b>Closed Accounts: </b>@ViewData["ExCCAClosedAccounts"]</p>
                            <p><b>Worst Month Arrears: </b>@ViewData["ExCCAWorstMonthArrears"]</p>
                            <p><b>Balance Exposure: </b>@ViewData["ExCCABalanceExposure"]</p>
                            <p><b>Cumulative Arrears: </b>@ViewData["ExCCACumulativeArrears"]</p>
                            <hr />
                            <h5> CCA 12 Months</h5>
                            <p><b>Enquiries By Client: </b>@ViewData["ExCCA12MonthsEnquiriesByClient"]</p>
                            <p><b>Enquiries By Other: </b>@ViewData["ExCCA12MonthsEnquiriesByOther"]</p>
                            <p><b>Postive Loans: </b>@ViewData["ExCCA12MonthsPositiveLoans"]</p>
                            <p><b>Highest Months In Arrears: </b>@ViewData["ExCCA12MonthsHighestMonthsInArrears"]</p>
                            <hr />
                            <h5> CCA 24 Months</h5>
                            <p><b>Enquiries By Client: </b>@ViewData["ExCCA24MonthsEnquiriesByClient"]</p>
                            <p><b>Enquiries By Other: </b>@ViewData["ExCCA24MonthsEnquiriesByOther"]</p>
                            <p><b>Postive Loans: </b>@ViewData["ExCCA24MonthsPositiveLoans"]</p>
                            <p><b>Highest Months In Arrears: </b>@ViewData["ExCCA24MonthsHighestMonthsInArrears"]</p>
                            <hr />
                            <h5> CCA 36 Months</h5>
                            <p><b>Enquiries By Client: </b>@ViewData["ExCCA36MonthsEnquiriesByClient"]</p>
                            <p><b>Enquiries By Other: </b>@ViewData["ExCCA36MonthsEnquiriesByOther"]</p>
                            <p><b>Postive Loans: </b>@ViewData["ExCCA36MonthsPositiveLoans"]</p>
                            <p><b>Highest Months In Arrears: </b>@ViewData["ExCCA36MonthsHighestMonthsInArrears"]</p>

                        </div>
                    </div>
                </div>

                @*<div class="SeaInfo">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="HI" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                        </tr>

                    </thead>
                </table>
                <table style="display:none;" id="HIT" class="table table-striped">
                    <thead>
                        <tr>
                            <th id="add" style="border: none; cursor:pointer;" colspan="2">Address History</th>
                        </tr>
                        <tr>
                            <th id="tel" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                        </tr>
                        <tr>
                            <th id="em" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                        </tr>

                    </thead>
                </table>
                <div style="display:none;" id="addT">

                    <div class="thatrow">
                        <div class="col_header">Code Type</div>
                        <div class="col_header">Line 1</div>
                        <div class="col_header">Line 2</div>
                        <div class="col_header">Line 3</div>
                        <div class="col_header">Line 4</div>
                        <div class="col_header">Postal Code</div>
                        <div class="col_header">Last Updated Date</div>

                        @foreach (var key in ViewBag.ArrayList)
                        {
                            <div class="colspace"> @key.Value</div>
                        }
                    </div>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody id="CIT" style="display:none;">
                        </tbody>
                    </table>
                </div>

                <div style="display:none;" id="telT">

                    <div class="thatrow">
                        <div class="col_headerTel">Type</div>
                        <div class="col_headerTel">Number</div>
                        <div class="col_headerTel">Last Updated Date</div>

                        @foreach (var key in ViewBag.TelArrayList)
                        {
                            <div class="colspaceTel"> @key.Value</div>
                        }
                    </div>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody id="CIT" style="display:none;">
                        </tbody>
                    </table>
                </div>

                <div style="display:none;" id="emT">

                    <div class="thatrow">
                        <div class="col_headerTel">Employer Name</div>
                        <div class="col_headerTel">Designation</div>
                        <div class="col_headerTel">Last Updated Date</div>

                        @foreach (var key in ViewBag.EMArrayList)
                        {
                            <div class="colspaceTel"> @key.Value</div>
                        }
                    </div>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody id="CIT" style="display:none;">
                        </tbody>
                    </table>
                </div>
            </div>*@
            }
            else if (@ViewData["Message"].ToString() == "Not Found")
            {
                <div class="no_results">
                    <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                    <div class="no_res">
                        @ViewData["Message2"]
                    </div>
                </div>

            }

           

            @*<div id="notification" class="seaRes">
                VeriCred <span id="plusTeleHis" class="coll"><i class="fas fa-plus"></i></span><span id="minusTeleHis" class="coll"><i class="fas fa-minus"></i></span>
            </div>*@

            @*@if (@ViewData["Message"].ToString() == "good" && @ViewData["VeriCredMessage"].ToString() == "Found")
        {
            <div class="TeleHis">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="PIV" style="border: none; cursor:pointer;" colspan="2">Person Information</th>

                        </tr>
                    </thead>
                    <tbody id="PITV" style="display:none;">
                        <tr>
                            <td colspan="2">Date of Birth</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoDateOfBirth"] </td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">First Name</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoFirstName"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Surname</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoSurname"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Fullname</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoFullname"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">ID Number</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoIDNumber"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Gender</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoGender"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Age</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoAge"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Current Employer</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoCurrentEmployer"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <div class="TeleHis">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="HAIV" style="border: none; cursor:pointer;" colspan="2">Contact Information</th>

                        </tr>
                    </thead>
                    <tbody id="HAITV" style="display:none;">
                        <tr>
                            <td colspan="2">Physical Address</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoPhysicalAddress"] </td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Mobile Numnber</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoMobileNumber"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Home Telephone Number</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoHomeTelephoneNumber"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>
                        <tr>
                            <td colspan="2">Work Telephone Number</td>
                            <td style="border: none;" colspan="4">@ViewData["VeriCredInfoWorkTelephoneNumber"]</td>

                            <td><a class="seaMore" href="#">View more</a></td>
                        </tr>



                    </tbody>
                </table>
            </div>



            <div class="TeleHis">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th id="HIV" style="border: none; cursor:pointer;" colspan="2">Historical Information</th>
                        </tr>

                    </thead>
                </table>
                <table style="display:none;" id="HITV" class="table table-striped">
                    <thead>
                        <tr>
                            <th id="addV" style="border: none; cursor:pointer;" colspan="2">Address History</th>
                        </tr>
                        <tr>
                            <th id="telV" style="border: none; cursor:pointer;" colspan="2">Telephone History</th>
                        </tr>
                        <tr>
                            <th id="emV" style="border: none; cursor:pointer;" colspan="2">Employment History</th>
                        </tr>

                    </thead>
                </table>
                <div style="display:none;" id="addTV">

                    <div class="thatrow">
                        <div class="col_header">Code Type</div>
                        <div class="col_header">Line 1</div>
                        <div class="col_header">Line 2</div>
                        <div class="col_header">Line 3</div>
                        <div class="col_header">Line 4</div>
                        <div class="col_header">Postal Code</div>
                        <div class="col_header">Last Updated Date</div>

                        @foreach (var key in ViewBag.ArrayList)
                        {
                            <div class="colspace"> @key.Value</div>
                        }
                    </div>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody id="CITV" style="display:none;">
                        </tbody>
                    </table>
                </div>

                <div style="display:none;" id="telTV">

                    <div class="thatrow">
                        <div class="col_headerTel">Type</div>
                        <div class="col_headerTel">Number</div>
                        <div class="col_headerTel">Last Updated Date</div>

                        @foreach (var key in ViewBag.TelArrayList)
                        {
                            <div class="colspaceTel"> @key.Value</div>
                        }
                    </div>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody id="CITVeriCredInfoWorkTelephoneNumber" style="display:none;">
                        </tbody>
                    </table>
                </div>

                <div style="display:none;" id="emTV">

                    <div class="thatrow">
                        <div class="col_headerTel">Employer Name</div>
                        <div class="col_headerTel">Designation</div>
                        <div class="col_headerTel">Last Updated Date</div>

                        @foreach (var key in ViewBag.EMArrayList)
                        {
                            <div class="colspaceTel"> @key.Value</div>
                        }
                    </div>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody id="CIT" style="display:none;">
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else if (@ViewData["Message"].ToString() == "Service is offline")
        {
            <div class="no_results">
                <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                <div class="no_res">
                    @ViewData["Message2"]
                </div>
            </div>

        }*@




        </div>


    </div>
</div>


<script>



    //CompScan
    $("#PI").click(function () {
        $("#PIT").toggle();
    });
    $("#HAI").click(function () {
        $("#HAIT").toggle();
    });
    $("#CI").click(function () {
        $("#CIT").toggle();
    });

    $("#HI").click(function () {
        $("#HIT").toggle();
    });

    $("#add").click(function () {
        $("#addT").toggle();
    });

    $("#tel").click(function () {
        $("#telT").toggle();
    });

    $("#em").click(function () {
        $("#emT").toggle();
    });

    //TransUnion
    $("#PIU").click(function () {
        $("#PITU").toggle();
    });
    $("#HAIU").click(function () {
        $("#HAITU").toggle();
    });
    $("#CIU").click(function () {
        $("#CITU").toggle();
    });

    $("#HIU").click(function () {
        $("#HITU").toggle();
    });

    $("#addU").click(function () {
        $("#addTU").toggle();
    });

    $("#telU").click(function () {
        $("#telTU").toggle();
    });

    $("#emU").click(function () {
        $("#emTU").toggle();
    });


    //XDS
    $("#PIX").click(function () {
        $("#PITX").toggle();
    });
    $("#HAIX").click(function () {
        $("#HAITX").toggle();
    });
    $("#CIX").click(function () {
        $("#CITX").toggle();
    });

    $("#HIX").click(function () {
        $("#HITX").toggle();
    });

    $("#addX").click(function () {
        $("#addTX").toggle();
    });

    $("#telX").click(function () {
        $("#telTX").toggle();
    });

    $("#emX").click(function () {
        $("#emTX").toggle();
    });

    //VeriCred
    $("#PIV").click(function () {
        $("#PITV").toggle();
    });
    $("#HAIV").click(function () {
        $("#HAITV").toggle();
    });
    $("#CIV").click(function () {
        $("#CITV").toggle();
    });

    $("#HIV").click(function () {
        $("#HITV").toggle();
    });

    $("#addV").click(function () {
        $("#addTV").toggle();
    });

    $("#telV").click(function () {
        $("#telTV").toggle();
    });

    $("#emV").click(function () {
        $("#emTV").toggle();
    });







    $(document).ready(function () {
        $(".not").hide();
        $("#minusNot").hide();


        $('#plusNot').on('click', function () {
            $(".not").show();
            $("#minusNot").show();
            $("#plusNot").hide();

        });

        $('#minusNot').on('click', function () {
            $("#minusNot").hide();
            $("#plusNot").show();
            $(".not").hide();

        });



        $("#minusSeaInfo").hide();
        $(".SeaInfo").hide();

        $('#plusSeaInfo').on('click', function () {
            $(".SeaInfo").show();
            $("#minusSeaInfo").show();
            $("#plusSeaInfo").hide();

        });

        $('#minusSeaInfo').on('click', function () {
            $("#minusSeaInfo").hide();
            $("#plusSeaInfo").show();
            $(".SeaInfo").hide();
        });



        $("#minusPerInfo").hide();
        $(".PerInfo").hide();

        $('#plusPerInfo').on('click', function () {
            $(".PerInfo").show();
            $("#minusPerInfo").show();
            $("#plusPerInfo").hide();

        });

        $('#minusPerInfo').on('click', function () {
            $("#minusPerInfo").hide();
            $("#plusPerInfo").show();
            $(".PerInfo").hide();
        });



        $("#minusHomeInfo").hide();
        $(".HomeInfo").hide();

        $('#plusHomeInfo').on('click', function () {
            $(".HomeInfo").show();
            $("#minusHomeInfo").show();
            $("#plusHomeInfo").hide();

        });

        $('#minusHomeInfo').on('click', function () {
            $("#minusHomeInfo").hide();
            $("#plusHomeInfo").show();
            $(".HomeInfo").hide();
        });



        $("#minusTeleHis").hide();
        $(".TeleHis").hide();

        $('#plusTeleHis').on('click', function () {
            $(".TeleHis").show();
            $("#minusTeleHis").show();
            $("#plusTeleHis").hide();

        });

        $('#minusTeleHis').on('click', function () {
            $("#minusTeleHis").hide();
            $("#plusTeleHis").show();
            $(".TeleHis").hide();
        });


        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });


    });
</script>
