@{
    ViewBag.Title = "TransUnionConsumerProfileResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-10 col-sm-10">
    <div class="sea act">SEARCH RESULTS</div>
    <div class="sea act">@TempData["SearchType"]</div>

    <div class="con2">
        @if (TempData["msg"] != null)
        {
            <div>@TempData["msg"] </div>
            <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>}
        else
        {
            <div class="left_col">
                <div class="results">
                    <i class='far fa-check-circle' style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                    <p>@TempData["ResponseCount"]</p>
                </div>
                <p class="num">@TempData["Fullname"]</p>
                <p class="num2">TransUnion Consumer Profile Results</p>

                <div class="multi act">
                    Multiple Results
                </div>
                <div class="multi non">
                    Detailed Information
                </div>

                <div class="seaInfo">
                    Search Information
                </div>

                <div class="userInfo">
                    <p class="">User:<span>@TempData["user"]</span></p>
                    <p class="">Date:<span>@TempData["date"]</span></p>
                    <p class="">Reference:<span>@TempData["ref"]</span></p>
                    <p class="">Request:<span>@TempData["ResponseMessage"]</span></p>
                </div>
            </div>
            <div class="right_col">
                <div id="notification" class="seaRes">
                    NCR NOTIFICATION <span id="plusNot" class="coll"><i class="fas fa-plus"></i></span><span id="minusNot" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                <div class="not">
                    Please note that the search results will automatically be deleted with in 48hours as per NCR regulations.
                    We recommend downloading/exporting a PDF or EXCEL copy of this search and storing it locally.<br>
                    <!--                                Click on In the top <p class="expt"></p> in the top left corner to download/export this search.-->
                </div>
                <div id="notification" class="seaRes">
                    PERSONAL INFORMATION <span id="plusPerInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusPerInfo" class="coll"><i class="fas fa-minus"></i></span>
                </div>

                <div class="PerInfo">
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var item in @ViewBag.PersonInfoList)
                            {
                                <tr>
                                    <td>Information Date</td>
                                    <td>
                                        @item.InformationDate<a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PersonID</td>
                                    <td>
                                        @item.PersonID  <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Title</td>
                                    <td>
                                        @item.PersonTitle <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>DateOfBirth</td>
                                    <td>
                                        @item.DateOfBirth <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>FirstName</td>
                                    <td>
                                        @item.FirstName <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Surname</td>
                                    <td>
                                        @item.Surname <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fullname</td>
                                    <td>
                                        @item.Fullname <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IDNumber</td>
                                    <td>
                                        @item.IDNumber <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IDNumber_Alternate</td>
                                    <td>
                                        @item.IDNumber_Alternate  <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MaritalStatus</td>
                                    <td>
                                        @item.MaritalStatus <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Gender</td>
                                    <td>
                                        @item.Gender <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Age</td>
                                    <td>
                                        @item.Age <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MiddleName1</td>
                                    <td>
                                        @item.MiddleName1  <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MiddleName2</td>
                                    <td>
                                        @item.MiddleName2  <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SpouseFirstName</td>
                                    <td>
                                        @item.SpouseFirstName <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SpouseSurname</td>
                                    <td>
                                        @item.SpouseSurname <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NumberOfDependants</td>
                                    <td>
                                        @item.NumberOfDependants  <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Remarks</td>
                                    <td>
                                        @item.Remarks <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HasProperties</td>
                                    <td>
                                        @item.HasProperties <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>AlsoKnownAs</td>
                                    <td>
                                        @item.AkaName <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ConsumerID</td>
                                    <td>
                                        @item.ConsumerID  <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                    </table>
                </div>
                <div id="notification" class="seaRes">
                    HOME AFFAIRS INFORMATION <span id="plusHome" class="coll"><i class="fas fa-plus"></i></span><span id="minusHome" class="coll"><i class="fas fa-minus"></i></span>
                </div>
                <div class="HomeAffairs">
                    <table class="table table-striped">
                        <tbody>
                            @foreach (var item in @ViewBag.HomeAffairsInfoList)
                            {
                                <tr>
                                    <td colspan="2">FirstName</td>
                                    <td style="border: none;" colspan="4">
                                        @item.FirstName <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">DeceasedDate</td>
                                    <td>
                                        @item.DeceasedDate <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">IDVerified</td>
                                    <td>
                                        @item.IDVerified <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">SurnameVerified</td>
                                    <td>
                                        @item.SurnameVerified <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">Warnings</td>
                                    <td>
                                        @item.Warnings <a class="seaMore" href="#">View more</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                    </table>
                </div>

                <div id="notification" class="seaRes">
                    CREDIT INFORMATION <span id="plusCreditHis" class="coll"><i class="fas fa-plus"></i></span><span id="minusCreditHis" class="coll"><i class="fas fa-minus"></i></span>
                </div>

                <div class="CreHis">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th id="addV" style="border: none;" colspan="2">DataCounts</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @ViewBag.dataCountsList)
                            {
                                <tr>
                                    <td colspan="2">Accounts</td>
                                    <td style="border: none;" colspan="4">@ViewData["Accounts"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Enquires</td>
                                    <td style="border: none;" colspan="4">@ViewData["Enquires"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Judgments</td>
                                    <td style="border: none;" colspan="4">@ViewData["Judgments"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Notices</td>
                                    <td style="border: none;" colspan="4">@ViewData["Notices"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Bank Defaults</td>
                                    <td style="border: none;" colspan="4">@ViewData["BankDefaults"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Collections</td>
                                    <td style="border: none;" colspan="4">@ViewData["Collections"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Directors</td>
                                    <td style="border: none;" colspan="4">@ViewData["Directors"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Addresses</td>
                                    <td style="border: none;" colspan="4">@ViewData["Addresses"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Telepohnes</td>
                                    <td style="border: none;" colspan="4">@ViewData["Telephones"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Occupants</td>
                                    <td style="border: none;" colspan="4">@ViewData["Occupants"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Employers</td>
                                    <td style="border: none;" colspan="4">@ViewData["Employers"] </td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Trace Alerts</td>
                                    <td style="border: none;" colspan="4">@ViewData["TraceAlerts"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Payment Profiles</td>
                                    <td style="border: none;" colspan="4">@ViewData["PaymentProfiles"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Own Enquires</td>
                                    <td style="border: none;" colspan="4">@ViewData["OwnEnquiries"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Admin Orders</td>
                                    <td style="border: none;" colspan="4">@ViewData["AdminOrders"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Possible Matches</td>
                                    <td style="border: none;" colspan="4">@ViewData["PossibleMatches"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Definite Matches</td>
                                    <td style="border: none;" colspan="4">@ViewData["DefiniteMatches"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Loans</td>
                                    <td style="border: none;" colspan="4">@ViewData["Loans"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Fraud Alerts</td>
                                    <td style="border: none;" colspan="4">@ViewData["FraudAlerts"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Companies</td>
                                    <td style="border: none;" colspan="4">@ViewData["Companies"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Properties</td>
                                    <td style="border: none;" colspan="4">@ViewData["Properties"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Documents</td>
                                    <td style="border: none;" colspan="4">@ViewData["Documents"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Demand Letters</td>
                                    <td style="border: none;" colspan="4">@ViewData["DemandLetters"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Trusts</td>
                                    <td style="border: none;" colspan="4">@ViewData["Trusts"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>

                                <tr>
                                    <td colspan="2">Bonds</td>
                                    <td style="border: none;" colspan="4">@ViewData["BondsBonds"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Deeds</td>
                                    <td style="border: none;" colspan="4">@ViewData["BondsBonds"]</td>

                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Public Defaults</td>
                                    <td style="border: none;" colspan="4">@ViewData["PublicDefaults"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">NLR Accounts</td>
                                    <td style="border: none;" colspan="4">@ViewData["NLRAccounts"]</td>
                                    <td><a class="seaMore" href="#">View more</a></td>
                                </tr>
                            }
                        </tbody>
                        <thead>
                            <tr>
                                <th id="addV" style="border: none;" colspan="2">DebtReview Status</th>
                            </tr>
                        </thead>
                        @foreach (var a in @ViewBag.debtReviewStatusList)
                        {
                            <tr>
                                <td colspan="1">StatusDate</td>
                                <td>
                                    @a.StatusDate<a class="seaMore" href="#">View more</a>
                                </td>
                            </tr>

                            <tr>
                                <td>StatusDescription</td>
                                <td>
                                    @a.StatusDescription<a class="seaMore" href="#">View more</a>
                                </td>
                            </tr>
                        }
                        <thead>
                            <tr>
                                <th id="addV" style="border: none;" colspan="2">Enquiry History</th>
                            </tr>
                        </thead>

                        @*<tr>
            <th class="col_header" style="width: 200%">Enquiry History</th>
        </tr>*@
                        <tr>
                            <th colspan="1">Date</th>
                            <th colspan="4">By</th>
                            <th colspan="4">Contact</th>
                        </tr>

                        @foreach (var enq in @ViewBag.enquiryInformationList)
                        {
                            <tr>
                                <td colspan="1">@enq.EnquiryDate</td>
                                <td colspan="4">@enq.EnquiredBy</td>
                                <td colspan="4">@enq.EnquiredByContact</td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="notification" class="seaRes">
                    HISTORICAL INFORMATION <span id="plusHistInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusHistInfo" class="coll"><i class="fas fa-minus"></i></span>
                </div>

                <div class="HistInfo">
                    <table class="table table-striped">
                        <tr>
                            <th class="col_header" style="width: 677%">Address History</th>
                        </tr>
                        <tr>
                            <th colspan="1">TypeDescription</th>
                            <th colspan="1">Line1</th>
                            <th colspan="1">Line2</th>
                            <th colspan="1">Line3</th>
                            <th colspan="1">PostalCode</th>
                            <th colspan="1">FullAddress</th>
                            <th colspan="1">LastUpdatedDate</th>
                        </tr>
                        @foreach (var add in @ViewBag.addressInformationList)
                        {
                            <tr>
                                <td colspan="1">@add.TypeDescription</td>
                                <td colspan="1">@add.Line1</td>
                                <td colspan="1">@add.Line2</td>
                                <td colspan="1">@add.Line3</td>
                                <td colspan="1">@add.PostalCode</td>
                                <td colspan="1">@add.FullAddress</td>
                                <td colspan="1">@add.LastUpdatedDate</td>
                            </tr>
                        }
                        <tr>
                            <th class="col_header" style="width: 677%">Telephone History</th>
                        </tr>
                        <tr>
                            <th colspan="2">TypeDescription</th>
                            <th colspan="1">DialCode</th>
                            <th colspan="1">Number</th>
                            <th colspan="1">FullNumber</th>
                            <th colspan="2">LastUpdatedDateTel</th>
                        </tr>
                        @foreach (var Tel in @ViewBag.telephoneInformationList)
                        {
                            <tr>
                                <td colspan="2">@Tel.TypeDescriptionTel</td>
                                <td colspan="1">@Tel.DialCode</td>
                                <td colspan="1">@Tel.Number</td>
                                <td colspan="1">@Tel.FullNumber</td>
                                <td colspan="2">@Tel.LastUpdatedDateTel</td>
                            </tr>
                        }
                        <tr>
                            <th class="col_header" style="width: 677%">Employment History</th>
                        </tr>
                        <tr>
                            <th colspan="4">EmployerName</th>
                            <th colspan="4">Designation</th>
                        </tr>
                        @foreach (var Emp in @ViewBag.employmentInformationList)
                        {
                            <tr>
                                <td colspan="4">@Emp.EmployerName</td>
                                <td colspan="4">@Emp.Designation</td>
                            </tr>
                        }
                    </table>
                </div>
                <div id="notification" class="seaRes">
                    INTERNAL ENQUIRY INFORMATION <span id="plusIntern" class="coll"><i class="fas fa-plus"></i></span><span id="minusintern" class="coll"><i class="fas fa-minus"></i></span>
                </div>

                <div class="INTENINFO">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th colspan="4">CompanyName</th>
                                <th colspan="4">EnquiryDate</th>
                                <th colspan="4">ContactPerson</th>
                                <th colspan="4">PhoneNumber</th>
                                <th colspan="4">EmailAddress</th>
                            </tr>
                            @foreach (var item in @ViewBag.enquiryInformationList)
                            {
                                <tr>
                                    <td colspan="4">@item.CompanyName</td>
                                    <th colspan="4">@item.IntEnquiryDate</th>
                                    <td colspan="4">@item.ContactPerson</td>
                                    <th colspan="4">@item.PhoneNumber</th>
                                    <th colspan="4">@item.EmailAddress</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#minusHome").hide();
        $(".HomeAffairs").hide();

        $('#plusHome').on('click', function () {
            $(".HomeAffairs").show();
            $("#minusHome").show();
            $("#plusHome").hide();

        });

        $('#minusHome').on('click', function () {
            $("#minusHome").hide();
            $("#plusHome").show();
            $(".HomeAffairs").hide();
        });

        $("#minusintern").hide();
        $(".INTENINFO").hide();

        $('#plusIntern').on('click', function () {
            $(".INTENINFO").show();
            $("#minusintern").show();
            $("#plusIntern").hide();

        });

        $('#minusintern').on('click', function () {
            $("#minusintern").hide();
            $("#plusIntern").show();
            $(".INTENINFO").hide();
        });

        $(".not").hide();
        $("#minusNot").hide();

        $('#plusNot').on('click', function () {
            $(".not").show();
            $("#minusNot").show();
            $("#plusNot").hide();

        });

        $('#minusNot').on('click', function () {
            $("#minusNot").hide();
            $("#plusNot").show();
            $(".not").hide();

        });

        $("#minusSeaInfo").hide();
        $(".SeaInfo").hide();

        $('#plusSeaInfo').on('click', function () {
            $(".SeaInfo").show();
            $("#minusSeaInfo").show();
            $("#plusSeaInfo").hide();

        });

        $('#minusSeaInfo').on('click', function () {
            $("#minusSeaInfo").hide();
            $("#plusSeaInfo").show();
            $(".SeaInfo").hide();
        });

        $("#minusPerInfo").hide();
        $(".PerInfo").hide();

        $('#plusPerInfo').on('click', function () {
            $(".PerInfo").show();
            $("#minusPerInfo").show();
            $("#plusPerInfo").hide();

        });

        $('#minusPerInfo').on('click', function () {
            $("#minusPerInfo").hide();
            $("#plusPerInfo").show();
            $(".PerInfo").hide();
        });

        $("#minusHomeInfo").hide();
        $(".HomeInfo").hide();

        $('#plusHomeInfo').on('click', function () {
            $(".HomeInfo").show();
            $("#minusHomeInfo").show();
            $("#plusHomeInfo").hide();

        });

        $('#minusHomeInfo').on('click', function () {
            $("#minusHomeInfo").hide();
            $("#plusHomeInfo").show();
            $(".HomeInfo").hide();
        });

        $("#minusTeleHis").hide();
        $(".TeleHis").hide();

        $('#plusTeleHis').on('click', function () {
            $(".TeleHis").show();
            $("#minusTeleHis").show();
            $("#plusTeleHis").hide();

        });

        $('#minusTeleHis').on('click', function () {
            $("#minusTeleHis").hide();
            $("#plusTeleHis").show();
            $(".TeleHis").hide();
        });

        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });

        $("#minusCreditHis").hide();
        $(".CreHis").hide();

        $('#plusCreditHis').on('click', function () {
            $(".CreHis").show();
            $("#minusCreditHis").show();
            $("#plusCreditHis").hide();

        });

        $('#minusCreditHis').on('click', function () {
            $("#minusCreditHis").hide();
            $("#plusCreditHis").show();
            $(".CreHis").hide();
        });

        $("#minusHistInfo").hide();
        $(".HistInfo").hide();

        $('#plusHistInfo').on('click', function () {
            $(".HistInfo").show();
            $("#minusHistInfo").show();
            $("#plusHistInfo").hide();

        });

        $('#minusHistInfo').on('click', function () {
            $("#minusHistInfo").hide();
            $("#plusHistInfo").show();
            $(".HistInfo").hide();
        });

    });
</script>