@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.PersonInformation>

@{
    ViewBag.Title = "VeriCred";
}



    <div class="col-md-10 col-sm-10">
        <div class="seaTab">
            <div class="col-md-6 col-sm-6">
                <div class="sea">

                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div class="sea">
                    <div class="opt1">
                        <div class="exp">Export List </div>
                        <div class="create">Create Group</div>
                        <div class="history"><i class="fa fa-history"></i>History</div>
                    </div>
                </div>
            </div>
        </div>

        @{
            string msg1 = "<a class=export target=_blank href=" + ViewData["PDFCopyURL"] + "><img src=/Content/img/export.png alt=/></a>";
            @Html.Raw(msg1)
        }

        <div class="seaTable form-style-9">
            @using (Html.BeginForm("VeriCredIDResults", "Credit", FormMethod.Post))
            {
                <h3 class="Trans">VeriCred ID Verification</h3>

                <ul>
                    <li>
                        @Html.TextBox("Reference", null, new { @class = "field-style field-split align-left", @id = "Ref", @placeholder = "Reference", disabled = "disabled" })
                        @Html.TextBox("IDNumber", null, new { @class = "field-style field-split align-right", @id = "IDNumber", @placeholder = "ID Number", required = "required", minlength = "13", maxlength = "13" })



                    </li>
                    <li>
                        I accept the terms and conditions
                        <input id="tc" type="checkbox" value="tc" required />
                    </li>
                    <li>
                        <button onclick="Search()" id="individualSearch" class="btn btn-primary" name="individualSearch">Search</button>
                    </li>
                </ul>

            }
        </div>


        <h4>@ViewData["FirstName"] </h4>
        <div class="tab">

            <button class="tablinks active" onclick="openCity(event, 'London')">Personal Information</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Home Affairs Information</button>

        </div>



        <div id="London" class="tabcontent" style="display:block">
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-6">

                    <p> <b>Initials: </b>@ViewData["Initials"] </p>
                    <p> <b>First Name: </b>@ViewData["FirstName"] </p>
                    <p> <b>Surname: </b>@ViewData["Surname"] </p>
                    <p> <b>Date Of Birth: </b>@ViewData["DateOfBirth"] </p>
                    <p> <b>ID Number: </b>@ViewData["IDNumber"] </p>
                    <p> <b>Gender: </b>@ViewData["Gender"] </p>
                    <p> <b>Age: </b>@ViewData["Age"] </p>

                </div>
            </div>

        </div>


        

        <div id="Paris" class="tabcontent">
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p> <b>Deceased Status: </b>@ViewData["DeceasedStatus"] </p>
                    <p> <b>Deceased Date: </b>@ViewData["DeceasedDate"] </p>
                    <p> <b>Place Of Death: </b>@ViewData["PlaceOfDeath"] </p>
                    <p> <b>Place Of Marraige: </b>@ViewData["PlaceOfMarriage"] </p>
                    <p> <b>ID Issued Date: </b>@ViewData["IDIssuedDate"] </p>
                    <p> <b>ID Card Issued Date: </b>@ViewData["IDCardIssuedDate"] </p>
                    <p> <b>ID Card Issued: </b>@ViewData["IDCardIssued"] </p>
                    <p> <b>Verified Status: </b>@ViewData["VerifiedStatus"] </p>

                </div>
            </div>

        </div>




    </div>


<script>
    function Search() {
                        $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("VeriCredIDResults", "Credit")',
                                data: {
                                       IDNumber: $('#IDNumber').val(),

                                },
                            dataType: "text",
                                error: function (result) {
                                    alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Account Created </div>';

                                    $(".resturn-message").html(alertMessage)





                            },
                                success: function (result) {

                             var alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Right Usename/Password</div>';

                                    $(".resturn-message").html(alertMessage)

                                    //alert(result.user_type);

                                    debugger;


                            }
                        });
                        }

</script>