@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.VeriCred>

@{
    ViewBag.Title = "VeriCred Consumer Profile";
}

<div class="col-md-10 col-sm-10">
    <div class="sea">SEARCH RESULTS</div>
    <div class="sea act">VeriCred Consumer Profile</div>
    <div class="sea_bar">
        <label>Search History</label>
        <input name="search" />
        @*<a href="~/Views/Credit/VeriCredConsumerProfile.cshtml">~/Views/Credit/VeriCredConsumerProfile.cshtml</a>*@
        <button>RESET</button>
    </div>
    <div class="con" style="height: 700px">
        <div class="col-md-6 col-sm-6 left" style="height: 640px">
            @using (Html.BeginForm("VeriCredConsumerProfileResults", "Credit", FormMethod.Post))
            {
                <div class="ref">
                    <label>Reference</label><br>

                    @Html.TextBox("Reference", null, new { @id = "Ref" })
                </div>
                <div class="eqType">
                    <label>Account Type</label><br>

                    @Html.DropDownList("EnquiryReason", new List<SelectListItem>
                {

                      new SelectListItem { Text = "Fraud Investigation", Value = "2"},
                      new SelectListItem { Text = "Fraud Prevention", Value = "3"},
                      new SelectListItem { Text = "Employment Verification(Cash / Finances)", Value = "4"},
                      new SelectListItem { Text = "Debtors Book Assessment", Value = "5"},
                      new SelectListItem { Text = "Affordability Assessment", Value = "6"},
                      new SelectListItem { Text = "Setting Credit Limit", Value = "7"},
                      new SelectListItem { Text = "Insurance Application", Value = "8"},
                      new SelectListItem { Text = "Unclaimed Funds", Value = "10"},
                      new SelectListItem { Text = "Tracing by Credit Provider", Value = "11"},
                      new SelectListItem { Text = "Score Development", Value = "12"},
                      new SelectListItem { Text = "Debt Counselling", Value = "13"},
                      new SelectListItem { Text = "Consumer Enquiry", Value = "14"},
                      new SelectListItem { Text = "Alternative Dispute Resolution", Value = "15"},

                }, " Select Enquiry Reason", new { @id = "eqtype", required = "required" })
                </div>

                <div class="firstname" style=" margin-top: -62px;">
                    <label>ID Number</label><br>

                    @Html.TextBox("idNumber", null, new { @id = "FirstName", minlength = "13", maxlength = "13" })
                </div>

                <div class="tc" style=" margin-top: 150px;">
                    <div>
                        I accept the <a href="#">terms and conditions</a>
                        <input id="tc" type="checkbox" value="tc" required />
                    </div>
                </div>

                <button id="combinedComSearch" class="btn" name="combinedComSearch" style=" margin-top: 162px;">Perform Search</button>

            }
        </div>
        <div class="col-md-6 col-sm-6 right">
            <div class="cen_text">
                Obtain the consumer trace details of an individual comprising of address, contact or employment history.
                For more information about this repost please download the sample report. <br><br>
                Please note : Tracing should only be utilised to locate debtors! Please not that the result will automatically be deleted on the specified "Expiry Date" as displayed and located in the NCR Searches tab per NCR regulation.
            </div>
        </div>
    </div>
</div>

<script>
    function Search() {
                        $.ajax(
                        {
                            type: "POST",
                            url: '@Url.Action("GetCompanyResults", "Home")',
                                data: {
                                    companyName: $('#comName').val(),

                                },
                            dataType: "text",
                                error: function (result) {
                                    alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Account Created </div>';

                                    $(".resturn-message").html(alertMessage)

                            },
                                success: function (result) {

                             var alertMessage = '<div class="alert alert-success" role="alert">'
                                        + 'Right Usename/Password</div>';

                                    $(".resturn-message").html(alertMessage)

                                    //alert(result.user_type);

                                    debugger;

                          if (result.status == true) {

                                        if (result.user_type === "client") {

                                            console.log(result);

                                            window.location.href = '@Url.Action("SubmissionStep2", "Checks")';

                                        }
                                        else if (result.user_type === "admin") {
                                             window.location.href = '@Url.Action("Admin_S", "Dashboard")';
                                        }

                            }
                            else {

                                var alertMessage = '<div class="alert alert-danger" role="alert">'
                                    + 'Invalid Usename/Password</div>';

                                $(".resturn-message").html(alertMessage)

                                alert(result.message);
                            }
                            }
                        });
                        }
</script>