@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<searchworks.client.Credit.PersonInformation>

@{
    ViewBag.Title = "VeriCredConsumerProfile";
}

<div class="col-md-10 col-sm-10">
    <div class="col-12">
        <input type="button" value="Export PDF" onclick="Export('VeriCredConsumerProfile.pdf')" class="button btn-b2" />
    </div>
    <div id="content">
        @if (TempData["msg"] != null)
        {
            <div>@TempData["msg"].ToString()  </div>
            <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
        }
        else
        {
            <div class="con2">
                <div class="left_col">
                    <div class="results">
                        <i class='far fa-check-circle'
                           style='font-size:30px;color:white; margin-left:10px; padding-top: 15px; display: inline-block '></i>
                        <p>2 Results</p>
                    </div>
                    <p class="num">@ViewData["refe"]</p>
                    <p class="num2">VeriCred Consumer Profile</p>

                    <div class="multi non">
                        Multiple Results
                    </div>
                    <div class="multi act">
                        Detailed Information
                    </div>

                    <div class="seaInfo">
                        Search Information
                    </div>

                    <div class="userInfo">
                        <p class="">User:<span>@ViewData["user"]</span></p>
                        <p class="">Date:<span>@ViewData["date"] </span></p>
                        <p class="">Reference:<span>@ViewData["ref"]</span></p>
                        <p class="">Request:<br /><span>@ViewData["ResponseMessage"]</span></p>
                    </div>
                </div>
                <div class="right_col">
                    <div id="notification" class="seaRes">
                        NCR NOTIFICATION <span id="plusNot" class="coll"><i class="fas fa-plus"></i></span><span id="minusNot" class="coll"><i class="fas fa-minus"></i></span>
                    </div>
                    <div class="not">
                        Please note that the search results will automatically be deleted with in 48hours as per NCR
                        regulations.
                        We recommend downloading/exporting a PDF or EXCEL copy of this search and storing it locally.<br>
                        <!--                                Click on In the top <p class="expt"></p> in the top left corner to download/export this search.-->
                    </div>

                    <div id="notification" class="seaRes">
                        VeriCred <span id="plusPerInfo" class="coll"><i class="fas fa-plus"></i></span><span id="minusPerInfo" class="coll"><i class="fas fa-minus"></i></span>
                    </div>
                    @if (@ViewData["Message"].ToString() == "good" && @ViewData["ResponseMessage"].ToString() ==
            "VeriCredConsumerProfile")
                    {
                        <div class="PerInfo">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th id="PIU" style="border: none; cursor:pointer;" colspan="2">Person Information</th>
                                    </tr>
                                </thead>
                                <tbody id="PITU" style="display:none;">
                                    <tr>
                                        <td colspan="2">Date of Birth</td>
                                        <td style="border: none;" colspan="4">@ViewData["DateOfBirth"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Full Name</td>
                                        <td style="border: none;" colspan="4">@ViewData["Fullname"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">ID Number</td>
                                        <td style="border: none;" colspan="4">@ViewData["IDNumber"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Gender</td>
                                        <td style="border: none;" colspan="4">@ViewData["Gender"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Age</td>
                                        <td style="border: none;" colspan="4">@ViewData["Age"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="PerInfo">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th id="CIU" style="border: none; cursor:pointer;" colspan="2">Credit Information</th>
                                    </tr>
                                </thead>
                                <tbody id="CITU" style="display:none">
                                    <tr>
                                        <td colspan="2">DelphiScore</td>
                                        <td style="border: none;" colspan="4">@ViewData["DelphiScore"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Risk Colour</td>
                                        <td style="border: none;" colspan="4">@ViewData["RiskColour"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Delphi Score Chart URL</td>
                                        <td style="border: none;" colspan="4">
                                            <a href="@ViewData[" DelphiScoreChartURL"]">@ViewData["DelphiScoreChartURL"]</a>
                                        </td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    @*Monthly Installments goes under CCAStats*@
                                    <tr>
                                        <td colspan="2">Monthly Instalment</td>
                                        <td style="border: none;" colspan="4">@ViewData["MonthlyInstalment"]</td>

                                        <td><a class="seaMore" href="#">View more</a></td>
                                    </tr>
                                    @if (ViewBag.CPAACCOUNTS != null)
                                    {
                                        foreach (var item in @ViewBag.CPAACCOUNTS)
                                        {
                                            <tr>
                                                <td colspan="2">Account_ID</td>
                                                <td style="border: none; cursor:pointer;" colspan="4">@item.Account_ID</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Subscriber Code</td>
                                                <td style="border: none;" colspan="4">@item.SubscriberCode</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Subscriber Name</td>
                                                <td style="border: none;" colspan="4">@item.SubscriberName</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">AccountNO</td>
                                                <td style="border: none;" colspan="4">@item.AccountNO</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Open Date</td>
                                                <td style="border: none;" colspan="4">@item.OpenDate</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Last Payment Date</td>
                                                <td style="border: none;" colspan="4">@item.LastPaymentDate</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">OpenBalance</td>
                                                <td style="border: none;" colspan="4">@item.OpenBalance</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">OverdueAmount</td>
                                                <td style="border: none;" colspan="4">@item.CurrentBalance</td>
                                                <td>
                                                    <a class="seaMore" href="#">View more</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">OverdueAmount</td>
                                                <td style="border: none;" colspan="4">@item.OverdueAmount</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">InstalmentAmount</td>
                                                <td style="border: none;" colspan="4">@item.InstalmentAmount</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">StatusCodeDesc</td>
                                                <td style="border: none;" colspan="4">@item.StatusCodeDesc</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">StatusDate</td>
                                                <td style="border: none;" colspan="4">@item.StatusDate</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">IndustryType</td>
                                                <td style="border: none;" colspan="4">@item.IndustryType</td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Payment History ChartURL</td>
                                                <td style="border: none;" colspan="4">
                                                    <a href="@item.PaymentHistoryChartURL">@item.PaymentHistoryChartURL</a>
                                                </td>
                                                <td><a class="seaMore" href="#">View more</a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Payment History Account Details</td>
                                                <td style="border: none;" colspan="4"></td>
                                                <td>
                                                    <a class="seaMore" href="#" data-toggle="modal"
                                                       data-target="#paymentHistoryAccountModal">View more</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="modal fade" id="paymentHistoryAccountModal" tabindex="-1" role="dialog"
                                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel">
                                                                        Payment History
                                                                        Account Details
                                                                    </h5>
                                                                    @*<button type="button" class="close" data-dismiss="modal"
                                                                            aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>*@
                                                                </div>
                                                                <div class="modal-body">
                                                                    <table class="table table-striped">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Last Payment Date</th>
                                                                                <th>Payment History</th>
                                                                                <th>Is Estimated</th>
                                                                            </tr>
                                                                        </thead>

                                                                        @*<tbody id="CPPAT">
                                                                                @foreach (var account in @item.PaymentHistoryAccountDetails)
                                                                                    {
                                                                                        <tr>
                                                                                            <td style="border: none;">
                                                                                                @account.LastPaymentDate
                                                                                            </td>
                                                                                            <td style="border: none;">
                                                                                                @account.PaymentHistory
                                                                                            </td>
                                                                                            <td style="border: none;">
                                                                                                @account.IsEstimated
                                                                                            </td>
                                                                                        </tr>

                                                                                    }
                                                                            </tbody>*@
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <th colspan="7" class="col_header" style="">CPA Accounts</th>
                                        </tr>
                                        <tr>
                                            <td colspan="7">No Data</td>
                                        </tr>
                                    }
                            </table>
                        </div>

                        <div class="PerInfo">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th id="HI" style="border: none; cursor:pointer;" colspan="2">
                                            Historical Information
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="HIT" style="display:none;">
                                    <tr>
                                        <th colspan="8" class="col_header" style="">Address History</th>
                                    </tr>
                                    @if (@ViewBag.AddressHist != null)
                                    {
                                        <tr>
                                            <th colspan="2">TypeDescription</th>
                                            <th colspan="1">Line1</th>
                                            <th colspan="1">Line2</th>
                                            <th colspan="1">Line3</th>
                                            <th colspan="1">PostalCode</th>
                                            <th colspan="1">FullAddress</th>
                                            <th colspan="1">Last Updated</th>
                                        </tr>
                                        foreach (var item in @ViewBag.AddressHist)
                                        {
                                            <tr>
                                                <td colspan="2">@item.TypeDescription</td>
                                                <td colspan="1">@item.Line1</td>
                                                <td colspan="1">@item.Line2</td>
                                                <td colspan="1">@item.Line3</td>
                                                <td colspan="1">@item.PostalCode</td>
                                                <td colspan="1">@item.FullAddress</td>
                                                <td colspan="1">@item.LastUpdatedDate</td>
                                            </tr>
                                        }

                                    }
                                    else
                                    {

                                        <tr>
                                            <td colspan="8">No Data</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th colspan="8" class="col_header">Telephone History</th>
                                    </tr>
                                    @if (@ViewBag.TelHist != null)
                                    {

                                        <tr>
                                            <th colspan="2">TypeDescription</th>
                                            <th colspan="1">DialCode</th>
                                            <th colspan="1">Number</th>
                                            <th colspan="1">FullNumber</th>
                                            <th colspan="3">Last Updated</th>
                                        </tr>
                                        foreach (var item in @ViewBag.TelHist)
                                        {
                                            <tr>
                                                <td colspan="2">@item.TypeDescriptionTel</td>
                                                <td colspan="1">@item.DialCode</td>
                                                <td colspan="1">@item.Number</td>
                                                <td colspan="1">@item.FullNumber</td>
                                                <td colspan="3">@item.LastUpdatedDateTel</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {

                                        <tr>
                                            <td colspan="8">No Data</td>
                                        </tr>

                                    }

                                    <tr>
                                        <th colspan="8" class="col_header">Employment History</th>
                                    </tr>
                                    @if (ViewBag.EmpHist != null)
                                    {
                                        <tr>
                                            <th colspan="4">Employer Name</th>
                                            <th colspan="4">Last Updated Date</th>
                                        </tr>
                                        foreach (var item in @ViewBag.EmpHist)
                                        {
                                            <tr>
                                                <td colspan="4">@item.EmployerName</td>
                                                <td colspan="4">@item.LastUpdatedDate</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {

                                        <tr>
                                            <td colspan="8">No Data</td>
                                        </tr>

                                    }
                                </tbody>
                                <tbody></tbody>
                            </table>
                        </div>
                    }
                    else if (@ViewData["Message"].ToString() == "Not Found")
                    {
                        <div class="no_results">
                            <img src="~/Content/img/Place Holder for search history.png" alt="can't display image">
                            <div class="no_res">
                                @ViewData["Message2"]
                            </div>
                        </div>

                    }
                </div>
            </div>
        }
    </div>
</div>

<script>

    //CompScan
    $("#PI").click(function () {
        $("#PIT").toggle();
    });
    $("#HAI").click(function () {
        $("#HAIT").toggle();
    });
    $("#CI").click(function () {
        $("#CIT").toggle();
    });

    $("#HI").click(function () {
        $("#HIT").toggle();
    });

    $("#add").click(function () {
        $("#addT").toggle();
    });

    $("#tel").click(function () {
        $("#telT").toggle();
    });

    $("#em").click(function () {
        $("#emT").toggle();
    });

    //TransUnion
    $("#PIU").click(function () {
        $("#PITU").toggle();
    });
    $("#HAIU").click(function () {
        $("#HAITU").toggle();
    });
    $("#CIU").click(function () {
        $("#CITU").toggle();
    });

    $("#HIU").click(function () {
        $("#HITU").toggle();
    });

    $("#addU").click(function () {
        $("#addTU").toggle();
    });

    $("#telU").click(function () {
        $("#telTU").toggle();
    });

    $("#emU").click(function () {
        $("#emTU").toggle();
    });

    //XDS
    $("#PIX").click(function () {
        $("#PITX").toggle();
    });
    $("#HAIX").click(function () {
        $("#HAITX").toggle();
    });
    $("#CIX").click(function () {
        $("#CITX").toggle();
    });

    $("#HIX").click(function () {
        $("#HITX").toggle();
    });

    $("#addX").click(function () {
        $("#addTX").toggle();
    });

    $("#telX").click(function () {
        $("#telTX").toggle();
    });

    $("#emX").click(function () {
        $("#emTX").toggle();
    });

    //VeriCred
    $("#PIV").click(function () {
        $("#PITV").toggle();
    });
    $("#HAIV").click(function () {
        $("#HAITV").toggle();
    });
    $("#CIV").click(function () {
        $("#CITV").toggle();
    });

    $("#HIV").click(function () {
        $("#HITV").toggle();
    });

    $("#addV").click(function () {
        $("#addTV").toggle();
    });

    $("#telV").click(function () {
        $("#telTV").toggle();
    });

    $("#emV").click(function () {
        $("#emTV").toggle();
    });

    $(document).ready(function () {
        $(".not").hide();
        $("#minusNot").hide();

        $('#plusNot').on('click', function () {
            $(".not").show();
            $("#minusNot").show();
            $("#plusNot").hide();

        });

        $('#minusNot').on('click', function () {
            $("#minusNot").hide();
            $("#plusNot").show();
            $(".not").hide();

        });

        $("#minusSeaInfo").hide();
        $(".SeaInfo").hide();

        $('#plusSeaInfo').on('click', function () {
            $(".SeaInfo").show();
            $("#minusSeaInfo").show();
            $("#plusSeaInfo").hide();

        });

        $('#minusSeaInfo').on('click', function () {
            $("#minusSeaInfo").hide();
            $("#plusSeaInfo").show();
            $(".SeaInfo").hide();
        });

        $("#minusPerInfo").hide();
        $(".PerInfo").hide();

        $('#plusPerInfo').on('click', function () {
            $(".PerInfo").show();
            $("#minusPerInfo").show();
            $("#plusPerInfo").hide();

        });

        $('#minusPerInfo').on('click', function () {
            $("#minusPerInfo").hide();
            $("#plusPerInfo").show();
            $(".PerInfo").hide();
        });

        $("#minusHomeInfo").hide();
        $(".HomeInfo").hide();

        $('#plusHomeInfo').on('click', function () {
            $(".HomeInfo").show();
            $("#minusHomeInfo").show();
            $("#plusHomeInfo").hide();

        });

        $('#minusHomeInfo').on('click', function () {
            $("#minusHomeInfo").hide();
            $("#plusHomeInfo").show();
            $(".HomeInfo").hide();
        });

        $("#minusTeleHis").hide();
        $(".TeleHis").hide();

        $('#plusTeleHis').on('click', function () {
            $(".TeleHis").show();
            $("#minusTeleHis").show();
            $("#plusTeleHis").hide();

        });

        $('#minusTeleHis').on('click', function () {
            $("#minusTeleHis").hide();
            $("#plusTeleHis").show();
            $(".TeleHis").hide();
        });

        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });

        $("#minusEmpHis").hide();
        $(".EmpHis").hide();

        $('#plusEmpHis').on('click', function () {
            $(".EmpHis").show();
            $("#minusEmpHis").show();
            $("#plusEmpHis").hide();

        });

        $('#minusEmpHis').on('click', function () {
            $("#minusEmpHis").hide();
            $("#plusEmpHis").show();
            $(".EmpHis").hide();
        });

    });
</script>